Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking, meson

black:
  name: black
  entry: black
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

feat: added cross_validation_fast as a possible validation method
  src/pandora/matching_cost/cpp/includes/matching_cost.hpp
  src/pandora/matching_cost/cpp/matching_cost_cpp.pyi
  src/pandora/matching_cost/cpp/meson.build
  src/pandora/matching_cost/cpp/src/matching_cost.cpp
  src/pandora/matching_cost/matching_cost.py
  src/pandora/state_machine.py
  src/pandora/validation/validation.py
Due: black, pylint, mypy, meson

misc: added an option to crash on warnings during cpp compilation, resolved warnings
  meson.build
  tests/test_cpp/test_matching_cost/test_matching_cost.cpp
Due: meson

test: added tests for cross_checking_fast
  tests/functional_tests/test_validation.py
  tests/pandora/mask_from_occlusion_left.tif
Due: black, pylint, mypy

fix: made the validation's check of input disparities more robust, linting
  src/pandora/state_machine.py
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

fix: fill the validity mask for invalid pixels that were not previously marked as such
  src/pandora/disparity/disparity.py
Due: black, pylint, mypy

fix: better handling of disparity grids, test fixes, disparity range inversion
  src/pandora/matching_cost/cpp/includes/matching_cost.hpp
  src/pandora/matching_cost/cpp/matching_cost_cpp.pyi
  src/pandora/matching_cost/cpp/src/bindings.cpp
  src/pandora/matching_cost/cpp/src/matching_cost.cpp
  src/pandora/matching_cost/matching_cost.py
  src/pandora/state_machine.py
  tests/functional_tests/test_validation.py
  tests/test_config.py
  tests/test_validation.py
Due: black, pylint, mypy

notebook: remove test to run jupyter_dash server
  notebooks/statistical_and_visual_analysis.ipynb
Due: jupyter-nb-clear-output

changelog update
  CHANGELOG.md
Due: none

setup: update pandora version
  pyproject.toml
Due: none

setup: update make test command
  Makefile
Due: none

doc: update install chapter
  docs/source/getting_started.rst
Due: sphinx-checking

setup: update make test-functional
  Makefile
Due: none

setup: update test for wheel
  pyproject.toml
Due: none

template: update release template file with instructions
  .gitlab/issue_templates/Release.md
Due: none

add english version
  .gitlab/issue_templates/Release_ENG.md
Due: none

feat: added profiling to pandora
  docs/source/userguide.rst
  docs/source/userguide/profiling.rst
  src/pandora/__init__.py
  src/pandora/aggregation/cbca.py
  src/pandora/cost_volume_confidence/ambiguity.py
  src/pandora/cost_volume_confidence/interval_bounds.py
  src/pandora/cost_volume_confidence/risk.py
  src/pandora/cost_volume_confidence/std_intensity.py
  src/pandora/criteria.py
  src/pandora/disparity/disparity.py
  src/pandora/filter/bilateral.py
  src/pandora/filter/disparity_denoiser.py
  src/pandora/filter/median.py
  src/pandora/filter/median_for_intervals.py
  src/pandora/matching_cost/census.py
  src/pandora/matching_cost/matching_cost.py
  src/pandora/matching_cost/sad_ssd.py
  src/pandora/matching_cost/zncc.py
  src/pandora/profiler.py
  src/pandora/refinement/refinement.py
  src/pandora/state_machine.py
  src/pandora/validation/interpolated_disparity.py
  src/pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

fix: quotes usage
  src/pandora/profiler.py
Due: black, pylint, mypy

fix: missing attribute
  src/pandora/profiler.py
Due: black, pylint, mypy

test: added unit tests
  tests/functional_tests/test_profiling.py
  tests/test_profiling.py
Due: black, pylint, mypy

fix: added type ignore for plotly and pandas
  src/pandora/profiler.py
Due: black, pylint, mypy

fix: removed redundant profiling options & the display option, fixed docstrings
  docs/source/userguide/profiling.rst
  src/pandora/profiler.py
  tests/functional_tests/test_profiling.py
  tests/test_profiling.py
Due: black, pylint, mypy, sphinx-checking

docs: removed the display parameter from the example
  docs/source/userguide/profiling.rst
Due: sphinx-checking

fix: check for superfluous keys in profiling config
  src/pandora/profiler.py
  tests/test_profiling.py
Due: black, pylint, mypy

fix: added plotly and psutil as default dependencies
  pyproject.toml
Due: none

fix: add condition where band_used is str
  src/pandora/state_machine.py
Due: black, pylint, mypy

test: test rgb images with multiple chars description
  tests/common.py
  tests/pandora/left_rgb.tif
  tests/pandora/right_rgb.tif
  tests/test_check_configuration.py
  tests/test_confidence/test_std_intensity.py
  tests/test_config.py
  tests/test_disparity_denoiser.py
  tests/test_matching_cost/test_matching_cost.py
  tests/test_matching_cost/test_matching_cost_census.py
  tests/test_matching_cost/test_matching_cost_sad.py
  tests/test_matching_cost/test_matching_cost_ssd.py
  tests/test_matching_cost/test_matching_cost_zncc.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_pandora_machine.py
  tests/test_validation.py
Due: black, pylint, mypy

fix: optionnal import for profiling
  pyproject.toml
  src/pandora/profiler.py
Due: black, pylint, mypy

doc: add warning for user
  docs/source/userguide/profiling.rst
Due: sphinx-checking

feat: added a new criteria on bit 12
  src/pandora/constants.py
  src/pandora/cpp/criteria_cpp.pyi
  src/pandora/cpp/includes/criteria.hpp
  src/pandora/cpp/meson.build
  src/pandora/cpp/src/bindings_criteria.cpp
  src/pandora/cpp/src/criteria.cpp
  src/pandora/criteria.py
Due: black, pylint, mypy, meson

misc: added a docstring
  src/pandora/cpp/criteria_cpp.pyi
Due: none

docs: added documentation for the new criteria
  docs/source/Images/criteria_12_example.png
  docs/source/exploring_the_field/criteria.rst
Due: sphinx-checking

fix: check for disp range before masking
  src/pandora/criteria.py
  src/pandora/state_machine.py
Due: black, pylint, mypy

fix: added disp range in img right if not present already
  src/pandora/state_machine.py
Due: black, pylint, mypy

fix: changed x,y to row,col
  src/pandora/state_machine.py
Due: black, pylint, mypy

misc: removed @profile on functions affected by the mr
  src/pandora/criteria.py
Due: black, pylint, mypy

test: modified affected tests
  src/pandora/criteria.py
  tests/test_criteria.py
Due: black, pylint, mypy

fix: update for release + fix notebook
  AUTHORS.md
  CHANGELOG.md
  notebooks/advanced_examples/api_check_conf.ipynb
Due: jupyter-nb-clear-output

fix-ci-readthedocs
  .readthedocs.yml
  docs/requirements.txt
  pyproject.toml
Due: sphinx-checking

fix: restrict filter and erase right disp when using cross validation fast, reflect the changes in the docs
  docs/source/userguide/step_by_step/validation.rst
  src/pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: added a test on cross checking fast ensuring that the returned right disp is empty
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
