Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]

test: update check_band_names
  tests/test_check_configuration.py
Due: black, pylint, mypy

notebook: update with check_datasets changes
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

notebook: add left and right keys in user_cfg
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

test: add left and right keys in user_cfg
  tests/common.py
  tests/test_check_configuration.py
  tests/test_common.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
Due: black, pylint, mypy

feat: add left and right keys to data_samples json files
  data_samples/json_conf_files/a_local_block_matching.json
  data_samples/json_conf_files/a_local_block_matching_for_multiband_img.json
  data_samples/json_conf_files/a_semi_global_matching.json
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
Due: none

feat: add left and right keys in user_cfg
  pandora/__init__.py
  pandora/check_configuration.py
  pandora/common.py
Due: black, pylint, mypy, sphinx-checking

docs: add left and right keys in user_cfg
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/faq.rst
  docs/source/userguide/input.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/sequencing.rst
Due: sphinx-checking

fix: add disparity grid case in memory_consumption_estimation function
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: add test of memory_consumption_estimation for disparity grid case
  tests/test_config.py
Due: black, pylint, mypy

notebook: clarification on comments about disparity interval
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

refact(statemachine): remove unecessary condition in run method
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: compute global margins in state machine
  pandora/__init__.py
  pandora/descriptors/margins.py
  pandora/state_machine.py
  tests/test_descriptors/test_margins.py
  tests/test_pandora.py
  tests/test_pandoramachine.py
Due: black, pylint, mypy, sphinx-checking

feat: make margins allways positive
  pandora/descriptors/margins.py
  tests/test_descriptors/test_margins.py
Due: black, pylint, mypy, sphinx-checking

refact: remove margins responsability from state machine
  pandora/__init__.py
  pandora/margins/margins.py
  pandora/state_machine.py
  tests/test_margins/test_margins.py
  tests/test_pandoramachine.py
Due: black, pylint, mypy, sphinx-checking

refact: switch packages layout descriptors with margins
  pandora/aggregation/aggregation.py
  pandora/descriptors/__init__.py
  pandora/disparity/disparity.py
  pandora/filter/bilateral.py
  pandora/filter/filter.py
  pandora/filter/median.py
  pandora/margins/__init__.py
  pandora/margins/descriptors.py
  pandora/margins/margins.py
  pandora/matching_cost/matching_cost.py
  pandora/optimization/optimization.py
  pandora/refinement/refinement.py
  pandora/state_machine.py
  tests/test_aggregation.py
  tests/test_descriptors/__init__.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_margins/test_descriptors.py
  tests/test_margins/test_margins.py
  tests/test_matching_cost.py
  tests/test_pandoramachine.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

tests: remove bad use of udpate_conf
  tests/test_filter.py
Due: black, pylint, mypy

feat: add margin descriptors to applications
  pandora/aggregation/aggregation.py
  pandora/descriptors/__init__.py
  pandora/descriptors/margins.py
  pandora/disparity/disparity.py
  pandora/filter/bilateral.py
  pandora/filter/filter.py
  pandora/filter/median.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/optimization/optimization.py
  pandora/refinement/refinement.py
  pandora/state_machine.py
  setup.cfg
  tests/test_aggregation.py
  tests/test_descriptors/__init__.py
  tests/test_descriptors/test_margins.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_matching_cost.py
  tests/test_optimization.py
  tests/test_pandoramachine.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

refact: make Margins a dataclass instead of NamedTuple
  pandora/descriptors/margins.py
  tests/test_descriptors/test_margins.py
  tests/test_filter.py
  tests/test_optimization.py
Due: black, pylint, mypy, sphinx-checking

feat: pass image_shape to bilateralfilter init
  pandora/aggregation/cbca.py
  pandora/filter/bilateral.py
  pandora/filter/filter.py
  pandora/filter/median.py
  pandora/state_machine.py
  tests/test_filter.py
  tests/test_pandoramachine.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

tests: refact test_filter to pytest
  tests/test_filter.py
Due: black, pylint, mypy

fix: typing of apply_divide_standard
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

refact: reorganize zncc cost volume computation code
  pandora/matching_cost/zncc.py
  tests/test_matching_cost_zncc.py
Due: black, pylint, mypy, sphinx-checking

refact: extract function extract_band_data
  pandora/img_tools.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

fix: step in matching_cost
  pandora/matching_cost/matching_cost.py
  tests/test_matching_cost.py
Due: black, pylint, mypy, sphinx-checking

feat: uniform xarrays cost volumes
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

test: uniform xarrays cost volumes
  tests/test_disparity.py
  tests/test_disparity_mask.py
  tests/test_matching_cost.py
  tests/test_matching_cost_census.py
  tests/test_pandora.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy

fix: disparity_source in cost volume
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

feat: add grid_estimation function in matching_cost.py
  pandora/matching_cost/matching_cost.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for grid_estimation function
  tests/test_matching_cost.py
Due: black, pylint, mypy

Revert "refact: extract function extract_band_data"
  pandora/img_tools.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

Revert "refact: reorganize zncc cost volume computation code"
  pandora/matching_cost/zncc.py
  tests/test_matching_cost_zncc.py
Due: black, pylint, mypy, sphinx-checking

feat: add possibility to not use numba parallel
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/risk.py
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

doc: add parallelization paragraph in doc
  docs/source/developer_guide/before_coding.rst
  docs/source/userguide/faq.rst
Due: sphinx-checking

minor: code quality
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/risk.py
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

doc: add rule in coding guide
  docs/source/developer_guide/before_coding.rst
Due: sphinx-checking

refact: replace sys.exit by raise
  .pylintrc
  pandora/check_configuration.py
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  pandora/multiscale/fixed_zoom_pyramid.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: Replace SystemExit in pytest.raises
  pandora/img_tools.py
  tests/test_check_configuration.py
  tests/test_config.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_multiscale.py
  tests/test_pandora_image.py
  tests/test_pandora_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: add roi coordinates in image xarray dataset
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for roi coordinates in image xarray dataset
  tests/test_matching_cost.py
  tests/test_pandora_image.py
Due: black, pylint, mypy

doc: udpate maching_cost_run docstring
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking
