Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking, meson

black:
  name: black
  entry: black
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

release: update pandora plugin libsgm version to 1.5.4 stable version
  pyproject.toml
Due: none

release: update changelog for 1.6.3 pandora version
  CHANGELOG.md
Due: none

fix: update add_mask to valid only 0 value on mask
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: resolved compilation warnings
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cpp/src/img_tools.cpp
  pandora/cpp/src/interval_tools.cpp
  pandora/matching_cost/cpp/src/census.cpp
  pandora/refinement/cpp/src/refinement.cpp
  pandora/validation/cpp/src/interpolated_disparity.cpp
Due: sphinx-checking

setup: update makefile and pytest.ini to add functionnal test
  Makefile
  pytest.ini
Due: none

chore: build wheels in parallel
  .github/workflows/pandora_ci.yml
Due: none

chore: fix wheel version on gh-actions
  .github/workflows/pandora_ci.yml
Due: none

chore: split test dependencies
  pyproject.toml
Due: none

chore: do not build musllinux wheels
  pyproject.toml
Due: none

test: add functional test with fixtures
  tests/conftest.py
  tests/functional_tests/test_basic.py
Due: black, pylint, mypy

packaging: repair Windows wheel with delvewheel
  pyproject.toml
Due: none

chore: declare that pandora is typed
  meson.build
  src/pandora/py.typed
Due: meson

chore: use cibuildwheel github action
  .github/workflows/pandora_ci.yml
Due: none

chore: test wheels with functional_tests
  .github/workflows/pandora_ci.yml
  pyproject.toml
  tests/functional_tests/test_basic.py
Due: black, pylint, mypy

chore: drop 32bit support
  pyproject.toml
Due: none

chore: run fuctional test on wheels
  pyproject.toml
Due: none

chore(gh-actions): fix setup-python warning
  .github/workflows/pandora_ci.yml
Due: none

test: add test-functional marker
  tests/functional_tests/test_basic.py
Due: black, pylint, mypy

Update CHANGELOG.md and AUTHORS.md for new minor version
  AUTHORS.md
  CHANGELOG.md
Due: none

doc: update faq with which target platforms for wheeks
  docs/source/userguide/faq.rst
Due: sphinx-checking

feat: add new disparity denoiser filter
  src/pandora/filter/__init__.py
  src/pandora/filter/disparity_denoiser.py
Due: black, pylint, mypy

test: add test for new disparity denoiser filter
  tests/test_disparity_denoiser.py
Due: black, pylint, mypy

doc: change the doc for the new disparity denoiser filter
  docs/source/userguide/step_by_step/filtering.rst
Due: sphinx-checking

feat: add the filter disparity implementation
  src/pandora/filter/disparity_denoiser.py
  src/pandora/state_machine.py
Due: black, pylint, mypy

test: add test for the filter
  tests/test_disparity_denoiser.py
Due: black, pylint, mypy

feat: re add the sigma grad param
  src/pandora/filter/disparity_denoiser.py
  tests/test_disparity_denoiser.py
Due: black, pylint, mypy

feat : remove check on multiband, accept now monoband image
  src/pandora/filter/disparity_denoiser.py
Due: black, pylint, mypy

test: add test for monoband image
  tests/test_disparity_denoiser.py
Due: black, pylint, mypy

fix: fix multiband checking
  src/pandora/filter/disparity_denoiser.py
Due: black, pylint, mypy

fix: check that left and right disps match when validation is used
  src/pandora/state_machine.py
Due: black, pylint, mypy

lint: ignore mypy errors on validation app instanciation
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

misc: added typing to reverse_cost_volume
  src/pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy

fix: removed useless call to cv_masked after reversing the right cv, added a check in validation to account for unmasked nans in right cv
  src/pandora/state_machine.py
  src/pandora/validation/validation.py
Due: black, pylint, mypy

fix: allow a list of ints to be passed as right disp
  src/pandora/check_configuration.py
Due: black, pylint, mypy

test: the json error was raised because the schema wouldn't allow for a list to be in right disp, but the expected error is valueError, because right disp min > right disp max
  tests/test_config.py
Due: black, pylint, mypy

test: removed mccnn as a matching cost method for validation
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

docs: added documentation for the new validation method
  docs/source/userguide/step_by_step/validation.rst
Due: sphinx-checking

test: added unit tests in cpp for the cost volume inversion function
  src/pandora/matching_cost/cpp/meson.build
  tests/test_cpp/meson.build
  tests/test_cpp/test_matching_cost/meson.build
  tests/test_cpp/test_matching_cost/test_matching_cost.cpp
Due: meson

fix: removed useless if else block
  src/pandora/state_machine.py
Due: black, pylint, mypy

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
