Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking, meson

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [pre-commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [pre-commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ pre-commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [pre-commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [pre-push]

    - id: meson
      name: meson
      language: python
      entry: meson format -e -i
      files: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
      additional_dependencies: ['meson==1.6.1']

ci: add push to github for tags in gitlab ci
  .gitlab-ci.yml
Due: none

ci: test to change tags
  .gitlab-ci.yml
Due: none

black: update format
  src/pandora/margins/descriptors.py
Due: black, pylint, mypy

setup: update Makefile
  Makefile
Due: none

doc: fix equaton
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
Due: sphinx-checking

update CHANGELOG.md
  CHANGELOG.md
Due: none

setup: update plugin versions
  pyproject.toml
Due: none

update sonar version
  sonar-project.properties
Due: none

update AUTHORS.md
  AUTHORS.md
Due: none

fix: disable trivy
  .gitlab-ci.yml
Due: none

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

refacto: reimplemented cv_masked in cpp
  src/pandora/matching_cost/cpp/includes/matching_cost.hpp
  src/pandora/matching_cost/cpp/matching_cost_cpp.pyi
  src/pandora/matching_cost/cpp/src/bindings.cpp
  src/pandora/matching_cost/cpp/src/matching_cost.cpp
  src/pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy

refacto: optimized loop computations
  src/pandora/matching_cost/cpp/src/matching_cost.cpp
Due: none

misc: fixed various docstrings and names, removed unused cpp macros
  src/pandora/matching_cost/cpp/includes/matching_cost.hpp
  src/pandora/matching_cost/cpp/matching_cost_cpp.pyi
  src/pandora/matching_cost/cpp/src/matching_cost.cpp
  src/pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy

misc: docstring fixes
  src/pandora/matching_cost/cpp/includes/matching_cost.hpp
  src/pandora/matching_cost/cpp/src/matching_cost.cpp
  src/pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy

docs: removed sections mentioning step and roi for cv_masked
  docs/source/exploring_the_field/cv_masked.rst
Due: sphinx-checking

test: relocated cv_masked tests to a new file
  tests/test_matching_cost/test_cv_masked.py
  tests/test_matching_cost/test_matching_cost.py
Due: black, pylint, mypy

fix: correct docker image for gitlab ci
  .gitlab-ci.yml
Due: none

fix: correct mypy configuration
  mypy.ini
Due: none

fix: correct mypy errors after upgrading version
  src/pandora/aggregation/aggregation.py
  src/pandora/aggregation/cbca.py
  src/pandora/cost_volume_confidence/cost_volume_confidence.py
  src/pandora/criteria.py
  src/pandora/disparity/disparity.py
  src/pandora/filter/filter.py
  src/pandora/img_tools.py
  src/pandora/matching_cost/census.py
  src/pandora/matching_cost/matching_cost.py
  src/pandora/matching_cost/zncc.py
  src/pandora/multiscale/multiscale.py
  src/pandora/refinement/refinement.py
  src/pandora/state_machine.py
  src/pandora/validation/validation.py
Due: black, pylint, mypy

fix: correct functional tests with sgm job in gitlab ci
  .gitlab-ci.yml
  Makefile
Due: none

refactor: introduce Criteria enum and migrate from PANDORA_MSK_PIXEL_INVALID
  notebooks/snippets/utils.py
  src/pandora/constants.py
  src/pandora/criteria.py
  src/pandora/disparity/disparity.py
  src/pandora/filter/bilateral.py
  src/pandora/filter/disparity_denoiser.py
  src/pandora/filter/median.py
  src/pandora/filter/median_for_intervals.py
  src/pandora/img_tools.py
  src/pandora/multiscale/multiscale.py
  src/pandora/refinement/quadratic.py
  src/pandora/refinement/refinement.py
  src/pandora/refinement/vfit.py
  src/pandora/validation/interpolated_disparity.py
  src/pandora/validation/validation.py
  tests/test_criteria.py
  tests/test_disparity_denoiser.py
  tests/test_disparity_mask.py
  tests/test_filter.py
  tests/test_multiscale.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy

refactor: rename and fix validity mask handling and flag arrays
  src/pandora/criteria.py
  src/pandora/disparity/disparity.py
  src/pandora/img_tools.py
  src/pandora/refinement/quadratic.py
  src/pandora/refinement/refinement.py
  src/pandora/refinement/vfit.py
  src/pandora/validation/interpolated_disparity.py
  src/pandora/validation/validation.py
  tests/test_criteria.py
  tests/test_disparity_mask.py
  tests/test_filter.py
  tests/test_multiscale.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy

fix: pylint
  src/pandora/constants.py
Due: black, pylint, mypy

refactor: improve test fixtures for cost volume and criteria tests
  src/pandora/criteria.py
  tests/test_criteria.py
Due: black, pylint, mypy

refactor: simplify TestAllocateValidityMask fixtures and remove subpix test
  src/pandora/criteria.py
  tests/test_criteria.py
Due: black, pylint, mypy

doc: update mccnn plugin
  docs/source/userguide/plugins/plugin_mccnn.rst
Due: sphinx-checking

test: udpate test to add mccnn
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

update sonar-project.properties
  sonar-project.properties
Due: none

update plugins versions in pyproject.toml
  pyproject.toml
Due: none

notebook: fix call to occlusion criteria
  notebooks/statistical_and_visual_analysis.ipynb
Due: jupyter-nb-clear-output

update plugin versions in pyproject.toml
  pyproject.toml
Due: none

update documentation conf.py
  docs/source/conf.py
Due: black, pylint, mypy, sphinx-checking

refactor: remove dead refinement_method now dispatched by name in c++
  src/pandora/refinement/quadratic.py
  src/pandora/refinement/refinement.py
  src/pandora/refinement/vfit.py
Due: black, pylint, mypy
