Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

black:
  name: black
  entry: black --line-length=120
  language: system
  stages:
  - commit

pylint:
  name: PyLint
  entry: python -m pylint --rcfile=.pylintrc
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - commit

sphinx-checking:
  name: Checking Sphinx building
  entry: python setup.py build_sphinx
  language: system
  pass_filenames: false
  stages:
  - push

doc: corrections on cost_volume_confidence description
  doc/sources/userguide/sequencing.rst
  doc/sources/userguide/step_by_step/cost_volume_confidence.rst
Due: sphinx-checking

doc: update version number
  CHANGELOG.md
  doc/sources/conf.py
Due: black, pylint, mypy, sphinx-checking

doc: corrections on sphinx documentation
  doc/sources/developer_guide/before_coding.rst
  doc/sources/userguide/as_an_api.rst
  doc/sources/userguide/input.rst
  doc/sources/userguide/output.rst
  doc/sources/userguide/sequencing.rst
  doc/sources/userguide/step_by_step/cost_volume_confidence.rst
  doc/sources/userguide/step_by_step/filtering.rst
  doc/sources/userguide/step_by_step/matching_cost.rst
  doc/sources/userguide/step_by_step/multiscale.rst
  doc/sources/userguide/step_by_step/refinement.rst
Due: sphinx-checking

doc: some corrections on confidence with SGM description
  doc/sources/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

ci: travis replaced by github Action
  .github/workflows/pandora_ci.yml
  .travis.yml
Due: none

doc: travis status badge replaced by github action badge
  README.md
Due: none

Update pandora_ci.yml
  .github/workflows/pandora_ci.yml
Due: none

doc: bugfix on GH action badge status
  README.md
Due: none

doc: readme for a_semi_global_matching_with_mccnn_similarity_measure.json configuration
  data_samples/json_conf_files/README.md
Due: none

docs: add mccnn docs and extra requirements.
  CHANGELOG.md
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
  doc/sources/Images/mc_cnn_architectures.svg
  doc/sources/getting_started.rst
  doc/sources/userguide/plugin.rst
  doc/sources/userguide/plugins/plugin_mccnn.rst
  doc/sources/userguide/step_by_step/matching_cost.rst
  setup.py
Due: black, pylint, mypy, sphinx-checking

doc: update readme add mccnn installation cible
  README.md
Due: none

Doc: Update a_semi_global_matching_with_mccnn_similarity_measure.json
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
Due: none

feat: add function to estimate memory consumption from pipeline
  CHANGELOG.md
  doc/sources/Images/memory_consumption.png
  doc/sources/userguide/output.rst
  notebooks/introduction_and_basic_usage.ipynb
  pandora/check_json.py
  tests/test_config.py
Due: black, pylint, mypy, sphinx-checking

fix: corrections to bugs appearing due to new xarray version
  CHANGELOG.md
  pandora/disparity/disparity.py
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

fix: correct refinement bug when using subpixel
  CHANGELOG.md
  pandora/refinement/quadratic.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

tests: add refinement tests with subpixel and invalid values
  tests/test_refinement.py
Due: black, pylint, mypy

doc: Update CHANGELOG.md
  CHANGELOG.md
Due: none

doc: fix docstring syntax
  pandora/refinement/refinement.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

doc: fix wrong file on getting_started doc chapter related to gh #5 issues
  doc/sources/getting_started.rst
Due: sphinx-checking

fix: correct sampled_ambiguity when all costs are NaN
  CHANGELOG.md
  pandora/cost_volume_confidence/ambiguity.py
  tests/test_confidence.py
Due: black, pylint, mypy, sphinx-checking

feat: add binder-jupyter-bokehserver incompatibility message on notebook
  notebooks/advanced_examples/cost_profile_analysis.ipynb
Due: none

refactor: correct sonarqube issues
  pandora/aggregation/__init__.py
  pandora/check_json.py
  pandora/cost_volume_confidence/__init__.py
  pandora/disparity/__init__.py
  pandora/filter/__init__.py
  pandora/matching_cost/__init__.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/zncc.py
  pandora/multiscale/__init__.py
  pandora/optimization/__init__.py
  pandora/refinement/__init__.py
  pandora/state_machine.py
  pandora/validation/__init__.py
  pandora/validation/interpolated_disparity.py
Due: black, pylint, mypy, sphinx-checking

refactor: correct remaining sonarqube issue
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

ci: schedule build every day at 02 am on gh action
  .github/workflows/pandora_ci.yml
Due: none

feat: add a risk measure
  CHANGELOG.md
  doc/sources/userguide/step_by_step/cost_volume_confidence.rst
  pandora/cost_volume_confidence/__init__.py
  pandora/cost_volume_confidence/risk.py
  tests/test_confidence.py
Due: black, pylint, mypy, sphinx-checking

doc: add segm and classif explanation
  doc/sources/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

doc: add explanations about piecewise optimization
  doc/sources/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

feat: subpixel processing with any even value
  CHANGELOG.md
  doc/sources/userguide/step_by_step/matching_cost.rst
  doc/sources/userguide/step_by_step/refinement.rst
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

feat: add band names for confidence measure
  CHANGELOG.md
  doc/sources/userguide/output.rst
  pandora/common.py
Due: black, pylint, mypy, sphinx-checking

docs: Modified CHANGELOG
  CHANGELOG.md
Due: none

fix: get_margins with no refinement
  pandora/marge.py
Due: black, pylint, mypy, sphinx-checking

docs: modified CHANGELOG
  CHANGELOG.md
Due: none

fix: get_margins with no filter
  pandora/marge.py
Due: black, pylint, mypy, sphinx-checking

doc: resolve bug on interactive diagram with an arrow gone for a walk
  doc/sources/userguide/overview.rst
Due: sphinx-checking

feat: add setup.cfg and pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Due: black, pylint, mypy

fix: enable inf as a nodata input and clarify doc
  doc/sources/userguide/input.rst
  pandora/check_json.py
  tests/test_config.py
Due: black, pylint, mypy, sphinx-checking

refactor: modify exception handling
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

fix: bug on string format for error log message during exception in state machine
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: force scikit-image version on setup.cfg
  setup.cfg
Due: none

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  sphinx-checking: any of: ^(doc/.*|pandora/.*)$
