Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]

lint: added documentation on census cpp function, fixed line too long, fixed too many statements per line
  pandora/matching_cost/cpp/includes/census.hpp
  pandora/matching_cost/cpp/src/census.cpp
Due: sphinx-checking

feat: easily change the census transform's data type, inverted cols and rows, renamed variables, commented census_transform
  pandora/matching_cost/cpp/src/census.cpp
Due: sphinx-checking

fix: removed unused cpp include
  pandora/matching_cost/cpp/src/census.cpp
Due: sphinx-checking

misc: copyright comments, variable name changes
  pandora/matching_cost/census.py
  pandora/matching_cost/cpp/__init__.py
  pandora/matching_cost/cpp/matching_cost_cpp.pyi
  pandora/matching_cost/cpp/src/bindings.cpp
  pandora/matching_cost/cpp/src/census.cpp
Due: black, pylint, mypy, sphinx-checking

misc: added comments to explain the census functions further
  pandora/matching_cost/cpp/src/census.cpp
Due: sphinx-checking

misc: added tests on accepted census window sizes
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

docs: added new census window sizes to the documentation
  docs/source/userguide/step_by_step/matching_cost.rst
Due: sphinx-checking

feat: fix for sonarqube
  pandora/cost_volume_confidence/cpp/includes/cost_volume_confidence_tools.hpp
  pandora/cost_volume_confidence/cpp/src/cost_volume_confidence_tools.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
Due: sphinx-checking

test: Add c++ test for minMaxCost
  meson.build
  tests/test_cpp/meson.build
  tests/test_cpp/test_confidence/meson.build
  tests/test_cpp/test_confidence/test_confidence.cpp
Due: none

feat: modified some types
  pandora/cost_volume_confidence/cpp/includes/cost_volume_confidence_tools.hpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/cost_volume_confidence_tools.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
Due: sphinx-checking

feat: risk_min and max were not good
  pandora/cost_volume_confidence/cpp/src/risk.cpp
Due: sphinx-checking

test: modify test_risk.py
  tests/test_confidence/test_risk.py
Due: black, pylint, mypy

feat: change min max to inf sup
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

feat: put common function in cost_confidence.cpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
Due: sphinx-checking

feat: put disp_min disp_max in datasets
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

fix: fix in the return of cost_volume_conf.cpp
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
Due: sphinx-checking

feat: correction in code
  pandora/cost_volume_confidence/cpp/src/cost_volume_confidence_tools.cpp
Due: sphinx-checking

feat: add test in Makfile
  Makefile
Due: none

fix: risk , max similarity measure in confidence
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cost_volume_confidence/cpp/includes/ambiguity.hpp
  pandora/cost_volume_confidence/cpp/includes/interval_bounds.hpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
  tests/test_confidence/test_ambiguity.py
Due: black, pylint, mypy, sphinx-checking

fix: change grids to int
  pandora/cost_volume_confidence/cpp/includes/interval_bounds.hpp
  pandora/cost_volume_confidence/cpp/includes/risk.hpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
Due: sphinx-checking

fix: linter
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

fix: proprely manage multiband inputs in census
  pandora/matching_cost/census.py
Due: black, pylint, mypy, sphinx-checking

fix: replaced version.sh with a crossplatform python script
  meson.build
  version.py
Due: black, pylint, mypy

feat: add job to create and publish wheels with GH actions
  .github/workflows/pandora_ci.yml
  pyproject.toml
Due: none

feat(chore): embed wrap files
  .gitignore
  Makefile
  subprojects/doctest.wrap
  subprojects/pybind11.wrap
Due: none

doc: update changelog
  CHANGELOG.md
Due: none

setup: update dependecies
  meson.build
Due: none

fix: temporary fix version and skip test
  meson.build
Due: none

fix: upgrade pre-commit configuration
  .pre-commit-config.yaml
Due: none

docs: update and clean README to ease reading
  README.md
Due: none

fix: use of version.sh in meson.build to get current version
  meson.build
  version.py
  version.sh
Due: black, pylint, mypy

setup: set pandora plugin libsgm version for new release
  pyproject.toml
Due: none

feat: set changelog for 1.6.3a1 version
  CHANGELOG.md
Due: none

fix: remove wrong upload link to pypi in github CI
  .github/workflows/pandora_ci.yml
Due: none

fix: normalisation of ambiguity: doc and bug
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
Due: black, pylint, mypy, sphinx-checking

chore: add precommit to format meson.build files
  .pre-commit-config.yaml
  meson.build
  meson.options
  pandora/aggregation/cpp/meson.build
  pandora/cost_volume_confidence/cpp/meson.build
  pandora/cpp/meson.build
  pandora/matching_cost/cpp/meson.build
  pandora/refinement/cpp/meson.build
  pandora/validation/cpp/meson.build
  tests/test_cpp/meson.build
  tests/test_cpp/test_confidence/meson.build
Due: sphinx-checking

chore(build): fix some meson warnings
  meson.build
Due: none

chore(meson): use remove relative source path in test
  pandora/cost_volume_confidence/cpp/meson.build
  tests/test_cpp/test_confidence/meson.build
Due: sphinx-checking

chore(build): skip building cpp tests when not in dev
  Makefile
  meson.build
  meson.options
  pyproject.toml
Due: none

fix: add pybind11 dependency in makefile
  Makefile
Due: none
