Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

feat: allocate costvolume in matching_cost_prepare
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: update compute_cost_volume API
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: update with new cost_volume allocation and new compute_cost_volume API
  tests/test_aggregation.py
  tests/test_confidence.py
  tests/test_disparity.py
  tests/test_disparity_mask.py
  tests/test_matching_cost.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_pandora.py
  tests/test_refinement.py
Due: black, pylint, mypy

test: add unit test for allocate_cost_volume
  tests/test_matching_cost.py
Due: black, pylint, mypy

feat: add method_ parameter in matching_cost
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

fix: readthedocs bug configuration evolution API
  .readthedocs.yml
Due: none

issue: adding templates for patch and release
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Patch_anterieur_dernier_tag.md
  .gitlab/issue_templates/Release.md
Due: none

refact: remove unused imports
  pandora/__init__.py
Due: black, pylint, mypy, sphinx-checking

doc: describe plugin registration as it is realy done
  docs/source/developer_guide/your_plugin.rst
Due: sphinx-checking

feat: migrate pkg_resources to importlib.metadata
  pandora/__init__.py
  setup.cfg
Due: black, pylint, mypy, sphinx-checking

feat: udpate minimal python version to 3.8
  Makefile
  setup.cfg
Due: none

feat: dataset.dims to dataset.sizes
  pandora/cost_volume_confidence/std_intensity.py
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: moving criteria in the matching cost step
  pandora/criteria.py
  pandora/disparity/disparity.py
  pandora/matching_cost/matching_cost.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

docs: modifications of docs after moving criteria
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
Due: sphinx-checking

test: modifications of tests after moving criteria
  tests/test_aggregation.py
  tests/test_confidence.py
  tests/test_disparity.py
  tests/test_disparity_mask.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy

test: add a test file for the criteria module
  tests/test_criteria.py
Due: black, pylint, mypy

Confidence from interval bounds
  pandora/cost_volume_confidence/__init__.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/interval_tools.py
Due: black, pylint, mypy, sphinx-checking

Filter for interval confidence
  pandora/constants.py
  pandora/filter/__init__.py
  pandora/filter/median_for_intervals.py
Due: black, pylint, mypy, sphinx-checking

Test for intervals
  tests/test_confidence.py
  tests/test_filter.py
  tests/test_interval_tools.py
Due: black, pylint, mypy

Documentation for intervals
  docs/source/userguide/output.rst
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  docs/source/userguide/step_by_step/filtering.rst
Due: sphinx-checking

Doc fixes and copyright
  docs/source/userguide/output.rst
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  docs/source/userguide/step_by_step/filtering.rst
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/filter/median_for_intervals.py
  pandora/interval_tools.py
  tests/test_interval_tools.py
Due: black, pylint, mypy, sphinx-checking

refact: remove unused UniformMarginsFromAttribute
  pandora/margins/descriptors.py
  tests/test_margins/test_descriptors.py
Due: black, pylint, mypy, sphinx-checking

feat: take step into account for filter margins calculation
  pandora/filter/bilateral.py
  pandora/filter/filter.py
  pandora/filter/median.py
  pandora/filter/median_for_intervals.py
  tests/test_filter.py
Due: black, pylint, mypy, sphinx-checking

feat: take step into account for global margins
  pandora/state_machine.py
  tests/test_pandora_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: add condition to prevent the use of sgm with a step different from one
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for the step condition when sgm is used
  tests/test_pandora_machine.py
Due: black, pylint, mypy

fix: change np.cunsum into np.nancumsum
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: change order of validity_mask arguments in state_machine
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

fix: move mask_border() in matching_cost.cv_masked()
  pandora/criteria.py
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

fix: fix test_criteria.py
  tests/test_criteria.py
Due: black, pylint, mypy

docs: set syntax on on json samples
  docs/source/userguide/output.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/plugins/plugin_arnn.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/plugins/plugin_mccnn.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/aggregation.rst
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  docs/source/userguide/step_by_step/disparity.rst
  docs/source/userguide/step_by_step/filtering.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  docs/source/userguide/step_by_step/multiscale.rst
  docs/source/userguide/step_by_step/refinement.rst
  docs/source/userguide/step_by_step/validation.rst
Due: sphinx-checking

docs: add favicon
  docs/source/Images/logo/favicon.ico
  docs/source/conf.py
Due: black, pylint, mypy, sphinx-checking

changelog update
  CHANGELOG.md
Due: none

descriptor.py updated by black version upgrade
  pandora/margins/descriptors.py
Due: black, pylint, mypy, sphinx-checking

setup: update libsgm and mccnn version
  setup.cfg
Due: none

update AUTHORS.md file
  AUTHORS.md
Due: none

update for CI github
  .github/workflows/pandora_ci.yml
  CHANGELOG.md
  setup.cfg
  tests/test_pandora_image.py
Due: black, pylint, mypy

docs: add a criteria.rst file in the exploring the field part
  docs/source/Images/criteria_1_point_5_3.gif
  docs/source/Images/criteria_1_point_5_7.gif
  docs/source/Images/criteria_2_point_9_2.gif
  docs/source/Images/criteria_7.drawio.png
  docs/source/Images/criteria_after_validation.drawio.png
  docs/source/Images/left_criteria.drawio.png
  docs/source/Images/left_right_mask.drawio.png
  docs/source/Images/validity_mask_before_cv.drawio.png
  docs/source/Images/validity_mask_matching_cost.drawio.png
  docs/source/Images/validity_mask_refinement.drawio.png
  docs/source/Images/validity_mask_validation.drawio.png
  docs/source/exploring_the_field/criteria.rst
Due: sphinx-checking

docs: add a exploring_the_field.rst file
  docs/source/exploring_the_field.rst
  docs/source/index.rst
Due: sphinx-checking

doc: fix typo in notebooks URL
  docs/source/userguide/as_an_api.rst
Due: sphinx-checking

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
