Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: python -m pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      stages: [commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout

doc: update version number
  CHANGELOG.md
  doc/sources/conf.py
Due: black, pylint, mypy, sphinx-checking

fix: numba and python versions compatibilities to avoid error with numpy on other dependencies as libsgm
  setup.cfg
Due: none

refactor: split matching_cost tests
  .pylintrc
  tests/common.py
  tests/test_matching_cost.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
Due: black, pylint, mypy

feat: force python version 3.7
  .github/workflows/pandora_ci.yml
  .readthedocs.yml
  CHANGELOG.md
  pandora/img_tools.py
  setup.cfg
Due: black, pylint, mypy, sphinx-checking

feat: add confidence map indicator to distinguish different layers
  CHANGELOG.md
  doc/sources/userguide/output.rst
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/risk.py
  pandora/cost_volume_confidence/std_intensity.py
  pandora/state_machine.py
  tests/test_confidence.py
  tests/test_config.py
Due: black, pylint, mypy, sphinx-checking

refactor: define abstract refinement_method function as static
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

minor: validate black pre-commit
  pandora/matching_cost/census.py
  pandora/matching_cost/sad_ssd.py
  pandora/refinement/quadratic.py
  pandora/state_machine.py
  tests/test_matching_cost_census.py
Due: black, pylint, mypy, sphinx-checking

minor: remove warnings due to numpy imports
  pandora/disparity/disparity.py
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  pandora/multiscale/fixed_zoom_pyramid.py
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

feat: use of plotly to show 1 cost volume
  notebooks/snippets/utils.py
  notebooks/statistical_and_visual_analysis.ipynb
  setup.cfg
Due: black, pylint, mypy

minor: suppr double import
  notebooks/introduction_and_basic_usage.ipynb
Due: none

feat: use dash for widgets
  notebooks/statistical_and_visual_analysis.ipynb
  setup.cfg
Due: none

minor: validate pylint pre-commit
  .pylintrc
  pandora/validation/validation.py
  tests/common.py
  tests/test_aggregation.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_marge.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_multiscale.py
  tests/test_pandora.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy, sphinx-checking

minor: pylint in test directory
  tests/test_pandora_image.py
Due: black, pylint, mypy

minor: mypy supports types for transitions
  pandora/state_machine.py
  setup.cfg
Due: black, pylint, mypy, sphinx-checking

minor: diable duplicate-code
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
Due: black, pylint, mypy

minor: validate mypy pre-commit
  notebooks/snippets/utils.py
  pandora/__init__.py
  pandora/common.py
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/risk.py
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/multiscale/fixed_zoom_pyramid.py
  pandora/multiscale/multiscale.py
  pandora/state_machine.py
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

doc: fix run_prepare docstring
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

minor: clean pylintrc
  .pylintrc
Due: none

minor: add type ignore
  notebooks/snippets/utils.py
  pandora/__init__.py
  pandora/disparity/disparity.py
  pandora/marge.py
  pandora/matching_cost/census.py
  pandora/matching_cost/sad_ssd.py
  pandora/refinement/refinement.py
  pandora/state_machine.py
  pandora/validation/validation.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

minor: with rev 0.6.0
  .pre-commit-config.yaml
Due: none

test: add test_disparity_mask file
  tests/test_disparity.py
  tests/test_disparity_mask.py
Due: black, pylint, mypy

minor: update gitignore file
  .gitignore
Due: none

minor: typo corrections in notebooks
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
Due: none

minor: black modif
  notebooks/snippets/utils.py
Due: black, pylint, mypy

minor: notebook True
  notebooks/statistical_and_visual_analysis.ipynb
Due: none

minor: plotly error
  notebooks/snippets/utils.py
Due: black, pylint, mypy

chore: update .gitignore
  .gitignore
  Makefile
Due: none

feat: add Makefile and update CI actions
  .github/workflows/pandora_ci.yml
  CHANGELOG.md
  Makefile
  setup.cfg
Due: none

feat: add make install commands
  .github/workflows/pandora_ci.yml
  Makefile
  setup.cfg
Due: none

feat: update .gitignore file
  .gitignore
Due: none

fix: add setuptools_scm info in pyproject.toml
  pyproject.toml
Due: none

fix: update numba version
  setup.cfg
Due: none

test: confidence
  tests/test_confidence.py
Due: black, pylint, mypy

feat: change with prefix
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/risk.py
  pandora/cost_volume_confidence/std_intensity.py
Due: black, pylint, mypy, sphinx-checking

doc: modify ambiguity names
  doc/sources/userguide/as_an_api.rst
  doc/sources/userguide/output.rst
Due: sphinx-checking

fix: bug pylint + makefile notebook_pandora pytest tag
  .pylintrc
  Makefile
Due: none

fix: bug recursion limit and remove precommit target in Makefile
  Makefile
  docs/source/conf.py
Due: black, pylint, mypy

fix: add help source venv before in Makefile help
  Makefile
Due: none

fix: align packaging setup requires between pyproject and setup.cfg
  pyproject.toml
  setup.cfg
Due: none
