Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

refact: do not compute index: get it
  pandora/matching_cost/census.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

refact: ensure subpix to be int
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

refact: ensure window_size to be int
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

tests: use fixtures in matching cost's tests
  tests/test_matching_cost.py
Due: black, pylint, mypy

refact: extract get_disparity_range method
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  tests/test_matching_cost.py
Due: black, pylint, mypy, sphinx-checking

refactor : check band for matching_cost
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

fix : forgot to update
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

refactor : udpate abstract semantic segmentation class
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

refactor: update new function to optimization class
  pandora/optimization/optimization.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

refactor: update disparities check for multiscale
  pandora/multiscale/fixed_zoom_pyramid.py
  pandora/multiscale/multiscale.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

tests: update and adding tests for multiscale
  tests/test_multiscale.py
Due: black, pylint, mypy

fix: a temporary bug with disparities not present in xarray.Dataset from read_img
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: add step in matching cost check conf
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

test: test for step + allocate_cost_volume
  tests/common.py
  tests/test_config.py
  tests/test_matching_cost.py
Due: black, pylint, mypy

doc: add step information
  docs/source/userguide/step_by_step/matching_cost.rst
Due: sphinx-checking

feat!: new disparity input format
  pandora/__init__.py
  pandora/check_configuration.py
  pandora/img_tools.py
  pandora/multiscale/fixed_zoom_pyramid.py
  pandora/state_machine.py
  tests/common.py
  tests/pandora/left_disparity_grid.tif
  tests/pandora/right_disparity_grid.tif
  tests/pandora/tiny_left_disparity_grid.tif
  tests/test_confidence.py
  tests/test_config.py
  tests/test_multiscale.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_validation.py
Due: black, pylint, mypy, sphinx-checking

tests: group pandora main tests with pytest style
  tests/test_pandora.py
Due: black, pylint, mypy

refact: remove useless if statement
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

doc: describe new disparity input format
  data_samples/json_conf_files/a_local_block_matching.json
  data_samples/json_conf_files/a_local_block_matching_for_multiband_img.json
  data_samples/json_conf_files/a_semi_global_matching.json
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/input.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/sequencing.rst
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output, sphinx-checking

test: optimize error function
  tests/test_pandora.py
Due: black, pylint, mypy

typing: fix typing of main and read_config_file
  pandora/__init__.py
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: fix wrong input parameter
  tests/test_pandora.py
Due: black, pylint, mypy

refacto : remove right_disp_map in check function of state_machine and update the cross_checking name method
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/data/Cones_stereo_param.json
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/check_configuration.py
  pandora/state_machine.py
  pandora/validation/validation.py
  tests/common.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_marge.py
  tests/test_pandora.py
  tests/test_plugins.py
  tests/test_validation.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

docs: remove right_disp_map and update the cross_checking method name
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/validation.rst
Due: sphinx-checking

refacto: remove right_disp_map in data_sample
  data_samples/json_conf_files/a_local_block_matching.json
  data_samples/json_conf_files/a_local_block_matching_for_multiband_img.json
  data_samples/json_conf_files/a_semi_global_matching.json
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
Due: none

feat: add helper for easier input format transition
  pandora/common.py
  tests/test_common.py
Due: black, pylint, mypy, sphinx-checking

feat: add input_config parameter to read_img
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

feat: remove img parameter from read_img
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

feat: remove no_data parameter from read_img
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

tests: group tests of img_tools with pytest
  tests/test_pandora_image.py
Due: black, pylint, mypy

refact: move attrs affectation at dataset creation time
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: remove classif parameter from read_img
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

feat: remove mask parameter from read_img
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

refact: move no_data step closer to mask one
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: remove segm parameter from read_img
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

refact: move dataset creation at the top of read_img
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

refact: cast classif and segm at reading
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat!: rename read_img to create_dataset_from_inputs
  docs/source/userguide/as_an_api.rst
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/img_tools.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

doc: fix call to build_dataset_from_inputs
  docs/source/userguide/as_an_api.rst
Due: sphinx-checking

fix: step in image data
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
Due: black, pylint, mypy, sphinx-checking

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
