Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black --line-length=120
      language: system
      files: \.py$
      stages: [commit]
      types: [python]
    - id: pylint
      name: PyLint
      entry: python -m pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      stages: [commit]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]
    - id: sphinx-checking
      name: Checking Sphinx building
      entry: python setup.py build_sphinx
      language: system
      files: ^(doc/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout

refactor: missing black reformatted files
  setup.py
  tests/common.py
  tests/test_aggregation.py
  tests/test_confidence.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_marge.py
  tests/test_matching_cost.py
  tests/test_pandora.py
  tests/test_refinement.py
Due: black, pylint, mypy

feat: add black dependance on setup dev
  setup.py
Due: black, pylint, mypy

feat: optional confidence in common.save_results
  pandora/common.py
  tests/pandora/cfg.json
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

test: migration from nose2 to pytest
  .coveragerc
  pytest.ini
  setup.py
  sonar-project.properties
Due: black, pylint, mypy

feat: add pandora notebooks
  CHANGELOG.md
  mypy.ini
  notebooks/data/Cones_LEFT.tif
  notebooks/data/Cones_LEFT_GT.tif
  notebooks/data/Cones_RIGHT.tif
  notebooks/data/Cones_stereo_param.json
  notebooks/data/Occlusion_LEFT.png
  notebooks/img/3_scale_pyramid.png
  notebooks/img/logo-cnes-triangulaire.jpg
  notebooks/img/logo_diagram.png
  notebooks/img/ms_multiscale_diagram.png
  notebooks/img/schema_complet.png
  notebooks/img/state_machine.png
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/snippets/utils.py
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  setup.py
  tests/test_notebooks.py
Due: black, pylint, mypy

refactor: update changelog
  CHANGELOG.md
Due: none

doc: corrections for release 1.0.0
  README.md
  doc/sources/userguide/sequencing.rst
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

refactor: update sgm requirement version
  setup.py
Due: black, pylint, mypy

refactor: from nose 2 to pytest
  .travis.yml
Due: none

fix: coverage
  .travis.yml
Due: none

fix: from nose2 to pytest with coverage
  .travis.yml
  tests/__init__.py
  tests/test_aggregation.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_marge.py
  tests/test_matching_cost.py
  tests/test_multiscale.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy

ci: from nose2 to pytest for travis CI with coverage
  .travis.yml
  tests/__init__.py
  tests/common.py
  tests/test_aggregation.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_marge.py
  tests/test_matching_cost.py
  tests/test_multiscale.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_refinement.py
  tests/test_validation.py
Due: black, pylint, mypy

doc: 1.0.0 version tag
  doc/sources/conf.py
Due: black, pylint, mypy, sphinx-checking

doc: delete duplicate section on changelog
  CHANGELOG.md
Due: none

feat: add masks pre-processing on notebooks
  notebooks/snippets/utils.py
  notebooks/statistical_and_visual_analysis.ipynb
Due: black, pylint, mypy

feat: add version from setuptools_scm
  CHANGELOG.md
  setup.py
Due: black, pylint, mypy

feat: add binder
  CHANGELOG.md
  Dockerfile
  README.md
  notebooks/notebook_requirements.txt
Due: none

feat: enable notebook test after new pandora version management
  setup.py
  tests/test_notebooks.py
Due: black, pylint, mypy

fix: disparity map to None after multiscale step to allow confidence measure
  CHANGELOG.md
  pandora/state_machine.py
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

feat: set dataset transform to None if it is the identity matrix
  CHANGELOG.md
  pandora/common.py
  pandora/img_tools.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

fix: add np.inf handling in read_img
  CHANGELOG.md
  doc/sources/userguide/input.rst
  pandora/img_tools.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

docs: Add CONTRIBUTING file
  CONTRIBUTING.md
Due: none

docs: Add CLA repository
  doc/sources/CLA/.gitkeep
Due: sphinx-checking

docs: Add CLA files
  doc/sources/CLA/CCLA_PANDORA.doc
  doc/sources/CLA/ICLA_PANDORA.doc
Due: sphinx-checking

feat: remove copy in check_dataset
  CHANGELOG.md
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: remove returned dataset in check_dataset
  CHANGELOG.md
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

notebook: a tutorial for drawing a cost profile
  notebooks/advanced_examples/cost_profile_analysis.ipynb
Due: none

fix: correct bug on memory allocation
  CHANGELOG.md
  pandora/disparity/disparity.py
  tests/test_disparity.py
Due: black, pylint, mypy, sphinx-checking

doc: update confidence and piecewise optimization
  doc/sources/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

doc: correction
  doc/sources/userguide/step_by_step/cost_volume_confidence.rst
Due: sphinx-checking

doc: add confidence and piecewise optimization
  doc/sources/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

doc: update changelog confidence
  CHANGELOG.md
Due: none

doc: add diagram piecewise optimization
  doc/sources/Images/piecewise_optimization_segments.png
  doc/sources/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

docs: some corrections
  CONTRIBUTING.md
Due: none

fix: margin computation whithout optimisation step
  pandora/marge.py
  tests/test_marge.py
Due: black, pylint, mypy, sphinx-checking

doc: update changelog
  CHANGELOG.md
Due: none

refactor: do not force omp layer on numba and silence warning
  CHANGELOG.md
  pandora/cost_volume_confidence/ambiguity.py
  pandora/refinement/refinement.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

refac: isolate notebook test with plugins dependency
  pytest.ini
  setup.py
  tests/test_notebooks.py
Due: black, pylint, mypy

doc: From nose2 to pytest on Notice file
  NOTICE
Due: none

feat: upgrade dependencies to 1.1 version
  setup.py
Due: black, pylint, mypy
