Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

test: specify plugin in imsave from scikit
  tests/test_pandora_image.py
Due: black, pylint, mypy

refacto: review corrections
  docs/source/userguide.rst
  docs/source/userguide/faq.rst
  docs/source/userguide/input.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  docs/source/userguide/step_by_step/multiscale.rst
  pandora/cost_volume_confidence/std_intensity.py
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

refacto: band correction and docstring update
  pandora/__init__.py
  pandora/aggregation/aggregation.py
  pandora/aggregation/cbca.py
  pandora/disparity/disparity.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
  tests/test_matching_cost.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

refacto: delete band_list configuration parameter, add band names on image's metadata
  CHANGELOG.md
  data_samples/images/cones_rgb.zip
  data_samples/json_conf_files/a_local_block_matching_for_multiband_img.json
  docs/source/userguide/input.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  pandora/__init__.py
  pandora/check_json.py
  pandora/img_tools.py
  tests/common.py
  tests/pandora/left_rgb.png
  tests/pandora/left_rgb.tif
  tests/pandora/right_rgb.png
  tests/pandora/right_rgb.tif
  tests/test_config.py
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

feat: datas for user
  data_samples/images/cones_rgb.zip
  data_samples/json_conf_files/README.md
  data_samples/json_conf_files/a_local_block_matching_for_multiband_img.json
Due: none

refacto: correct cmax computation on sad and ssd multiband
  pandora/matching_cost/sad_ssd.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
Due: black, pylint, mypy, sphinx-checking

feat: adapt input masks to multiband and add doc information
  data_samples/json_conf_files/a_local_block_matching_for_multiband_img.json
  docs/source/userguide/input.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  pandora/cost_volume_confidence/std_intensity.py
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  tests/test_confidence.py
  tests/test_matching_cost.py
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

doc: add bands parameters
  data_samples/images/README.md
  docs/source/userguide/input.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: black version 23, pylint version 2.16
  notebooks/introduction_and_basic_usage.ipynb
Due: jupyter-nb-clear-output

refacto: multiband docstring correction
  pandora/__init__.py
  pandora/aggregation/aggregation.py
  pandora/aggregation/cbca.py
  pandora/disparity/disparity.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

feat: adapt row, col, band to band, row, col
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

feat: modify files for multiband data
  pandora/__init__.py
  pandora/check_json.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

test: add wrong pipeline tests
  pandora/check_json.py
  tests/common.py
  tests/test_aggregation.py
  tests/test_confidence.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_disparity_mask.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

feat: remove band_list from data attributes
  pandora/img_tools.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/state_machine.py
  tests/common.py
  tests/test_aggregation.py
  tests/test_confidence.py
  tests/test_disparity.py
  tests/test_disparity_mask.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_pandora.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

feat: with masks
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
Due: black, pylint, mypy, sphinx-checking

test: adapt test for multi band
  tests/common.py
  tests/pandora/left_rgb.png
  tests/pandora/right_rgb.png
  tests/test_config.py
Due: black, pylint, mypy

feat: adapt code to avoid duplicates lines
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

minor: pre-commit ok
  tests/test_config.py
  tests/test_disparity_mask.py
Due: black, pylint, mypy

test: test_pandora
  pandora/img_tools.py
  tests/common.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_pandora.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

minor: pass pre-commit
  pandora/check_json.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  tests/test_config.py
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

test: adapt tests to band, row, col
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/img_tools.py
  tests/common.py
  tests/test_matching_cost_sad.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

test: allocate_numpy_cost_volume
  tests/test_matching_cost.py
Due: black, pylint, mypy

test: deactivate JupyterDash app on test_statistical_and_visual_analysis
  CHANGELOG.md
  notebooks/statistical_and_visual_analysis.ipynb
  tests/test_notebooks.py
Due: black, pylint, mypy, jupyter-nb-clear-output

feat: modify error handling on unknown step method and add plugin tests
  .pylintrc
  CHANGELOG.md
  data_samples/json_conf_files/a_local_block_matching.json
  pandora/aggregation/aggregation.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/disparity/disparity.py
  pandora/filter/filter.py
  pandora/matching_cost/matching_cost.py
  pandora/multiscale/multiscale.py
  pandora/optimization/optimization.py
  pandora/refinement/refinement.py
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/validation/validation.py
  tests/test_plugins.py
Due: black, pylint, mypy, sphinx-checking

feat: add check_band_pipeline on check_json and refactor band checks
  pandora/check_json.py
  pandora/refinement/refinement.py
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/state_machine.py
  tests/test_config.py
  tests/test_plugins.py
Due: black, pylint, mypy, sphinx-checking

feat: add semantic_segmentation class and step
  data_samples/json_conf_files/a_local_block_matching.json
  pandora/semantic_segmentation/__init__.py
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

doc: add semantic_segmentation on pipeline diagram
  docs/source/Images/main_diagram_step_semantic_segmentation.png
  docs/source/userguide/overview.rst
  docs/source/userguide/step_by_step.rst
  docs/source/userguide/step_by_step/semantic_segmentation.rst
Due: sphinx-checking

feat: add right_disp_map and cross-checking pipeline check
  pandora/check_json.py
Due: black, pylint, mypy, sphinx-checking

feat: clarify optimization's marge value and select maximum marge
  pandora/marge.py
Due: black, pylint, mypy, sphinx-checking

test: check cross-checking configuration
  tests/test_config.py
Due: black, pylint, mypy

feat: suppress building on docstrings and modify check_band_names api
  pandora/check_json.py
  pandora/semantic_segmentation/semantic_segmentation.py
Due: black, pylint, mypy, sphinx-checking

minor: fixed matplotlib version
  setup.cfg
Due: none

doc: small corrections
  docs/source/getting_started.rst
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/faq.rst
  docs/source/userguide/input.rst
  docs/source/userguide/output.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/step_by_step/semantic_segmentation.rst
Due: sphinx-checking

minor: fix bokeh version
  setup.cfg
Due: none

minor: upgrade plugins version
  setup.cfg
Due: none

doc: adapt changelog to release 1.4.0
  CHANGELOG.md
Due: none

feat: modify error handling on unknown step method and add plugin tests
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

feat: add multiband classification on read_img function
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: add function to fuse classification bands
  pandora/img_tools.py
  tests/pandora/left_classif.tif
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
