Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

feat: add multiband classification checks and documentation
  docs/source/userguide/input.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  pandora/check_json.py
Due: black, pylint, mypy, sphinx-checking

feat: modify validation checks to right_disp_map
  CHANGELOG.md
  pandora/check_json.py
Due: black, pylint, mypy, sphinx-checking

minor: pass black
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

feat: suppression pip install codecov
  .github/workflows/pandora_ci.yml
  CHANGELOG.md
Due: none

minor: pass black + english classif
  pandora/refinement/refinement.py
  tests/pandora/left_classif.tif
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

feat: modify error handling on unknown step method and add plugin tests
  pandora/refinement/refinement.py
Due: black, pylint, mypy, sphinx-checking

feat: add function to fuse classification bands
  pandora/img_tools.py
  tests/pandora/left_classif.tif
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

feat: add multiband classification on read_img function
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: update notebooks to new check method
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/disparity/disparity.py
  pandora/state_machine.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

refacto: add input checks on state_machine state checks
  tests/test_config.py
  tests/test_pandora.py
Due: black, pylint, mypy

refacto: add input checks on state_machine state checks
  pandora/__init__.py
  pandora/check_json.py
  pandora/state_machine.py
  tests/test_confidence.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_plugins.py
Due: black, pylint, mypy, sphinx-checking

feat: modify validation checks to right_disp_map
  docs/source/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

Downgrade bokeh <3
  setup.cfg
Due: none

doc: changelog release 1.5.0
  CHANGELOG.md
Due: none

doc: plugin_arnn
  docs/source/Images/arnn_pipeline_schema.png
  docs/source/getting_started.rst
  docs/source/userguide/input.rst
  docs/source/userguide/overview.rst
  docs/source/userguide/plugin.rst
  docs/source/userguide/plugins/plugin_arnn.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/semantic_segmentation.rst
Due: sphinx-checking

doc: review cnes
  docs/source/Images/automatic_annotation.png
  docs/source/userguide/overview.rst
  docs/source/userguide/plugins/plugin_arnn.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/sequencing.rst
  docs/source/userguide/step_by_step/semantic_segmentation.rst
Due: sphinx-checking

minor: calibri police
  docs/source/Images/main_diagram_step_cost_aggregation.png
  docs/source/Images/main_diagram_step_cost_volume_confidence.png
  docs/source/Images/main_diagram_step_disparity.png
  docs/source/Images/main_diagram_step_filter.png
  docs/source/Images/main_diagram_step_matching_cost.png
  docs/source/Images/main_diagram_step_multiscale.png
  docs/source/Images/main_diagram_step_optimization.png
  docs/source/Images/main_diagram_step_refinement.png
  docs/source/Images/main_diagram_step_semantic_segmentation.png
  docs/source/Images/main_diagram_step_validation.png
Due: sphinx-checking

doc: add semantic_segmentation to schema
  docs/source/Images/Machine_state_diagram.png
  docs/source/Images/machine_state_example1.gif
  docs/source/Images/machine_state_example2.gif
  docs/source/Images/machine_state_example3.gif
  docs/source/Images/machine_state_example4.gif
Due: sphinx-checking

refactor : new API for check_pipeline_section
  pandora/check_json.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: update test with new check_pipeline_section api
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/data/left_rgb.tif
  notebooks/data/right_rgb.tif
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  tests/pandora/right_classif.tif
  tests/test_config.py
  tests/test_notebooks.py
Due: black, pylint, mypy, jupyter-nb-clear-output

fix some typos
  CHANGELOG.md
  CONTRIBUTING.md
  docs/source/developer_guide/before_coding.rst
  docs/source/developer_guide/your_plugin.rst
  docs/source/userguide/output.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/step_by_step/filtering.rst
  notebooks/snippets/utils.py
  notebooks/statistical_and_visual_analysis.ipynb
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/risk.py
  pandora/multiscale/multiscale.py
  pandora/state_machine.py
  tests/test_config.py
  tests/test_disparity_mask.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

fix: add classif and segm in get_metadata dataset
  pandora/check_json.py
Due: black, pylint, mypy, sphinx-checking

doc: fix typo with plugins' names
  docs/source/userguide/step_by_step/matching_cost.rst
Due: sphinx-checking

refactor: rename band attribute in dataset to band_im
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/step_by_step/matching_cost.rst
  pandora/__init__.py
  pandora/aggregation/aggregation.py
  pandora/aggregation/cbca.py
  pandora/check_json.py
  pandora/disparity/disparity.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
  tests/common.py
  tests/test_confidence.py
  tests/test_config.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

refact: rename check_json to check_configuration
  docs/source/userguide/as_an_api.rst
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
  pandora/__init__.py
  pandora/check_configuration.py
  tests/test_confidence.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_filter.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

test: do not rename check_configuration as JSON_checker
  tests/test_config.py
Due: black, pylint, mypy

refact: change dmin_dmax to get_min_max_from_grid
  pandora/matching_cost/matching_cost.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

test: change dmin_dmax to get_min_max_from_grid
  tests/test_disparity_mask.py
  tests/test_matching_cost_census.py
Due: black, pylint, mypy

feat(disparity): add functions to extract disparity extrema/range from disparity_map
  pandora/disparity/__init__.py
  pandora/disparity/disparity.py
  pandora/validation/validation.py
  tests/test_disparity.py
  tests/test_validation.py
Due: black, pylint, mypy, sphinx-checking

test: unit test approximate_right_disparity
  tests/test_disparity.py
Due: black, pylint, mypy

feat(disparity): use extract_disparity_extrema_from_cost_volume
  pandora/disparity/disparity.py
  tests/test_disparity.py
Due: black, pylint, mypy, sphinx-checking

feat(disparity): add extract_disparity_extrema_from_cost_volume function
  pandora/disparity/__init__.py
  pandora/disparity/disparity.py
  tests/test_disparity.py
Due: black, pylint, mypy, sphinx-checking

feat(disparity): rename disparity_extrema to disparity_interval
  pandora/disparity/__init__.py
  pandora/disparity/disparity.py
  tests/test_disparity.py
  tests/test_validation.py
Due: black, pylint, mypy, sphinx-checking

refact: move swapaxes from offset condition
  pandora/matching_cost/census.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

feat: override allocate_numpy_cost_volume in sadssd
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
Due: black, pylint, mypy, sphinx-checking

style: remove return line
  pandora/matching_cost/sad_ssd.py
Due: black, pylint, mypy, sphinx-checking

refact: use native numpy function
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

refact: extract crop_cost_volume from allocate_numpy_cost_volume
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  tests/test_matching_cost.py
Due: black, pylint, mypy, sphinx-checking

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
