Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

test: add a fixture to create InMemory Tiff files
  tests/conftest.py
  tests/test_matching_cost.py
  tests/test_pandora_image.py
Due: black, pylint, mypy

refact: extract an `add_disparity_grid` function
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

tests: move cv_masked tests to test_maching_cost
  tests/test_matching_cost.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_zncc.py
Due: black, pylint, mypy

feat: adding mask_column_interval to find range index columns used for the similarity measure
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

test : move all tests for matching_cost on new directory and split the test_matching_cost.py file
  tests/test_matching_cost/test_mask_column_interval.py
  tests/test_matching_cost/test_matching_cost.py
  tests/test_matching_cost/test_matching_cost_census.py
  tests/test_matching_cost/test_matching_cost_sad.py
  tests/test_matching_cost/test_matching_cost_ssd.py
  tests/test_matching_cost/test_matching_cost_zncc.py
Due: black, pylint, mypy

test: adding all tests for mask_column_interval and mask_column_interval_without_step and find_nearest_column
  tests/test_matching_cost.py
Due: black, pylint, mypy

doc: adding explication for cv_masked method on the Exploring the Field chapter
  docs/source/Images/Image_left_and_right_disp_model.drawio
  docs/source/Images/Image_left_and_right_disp_total_model.drawio
  docs/source/Images/cv_mask_apply.gif
  docs/source/Images/cv_mask_explain_area_for_disparity.gif
  docs/source/Images/cv_mask_explain_disparity.gif
  docs/source/Images/mask_cost_volume_model.drawio
  docs/source/exploring_the_field.rst
  docs/source/exploring_the_field/cv_masked.rst
Due: sphinx-checking

feat: extract col to compute part from grid estimation
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

test: add test for get_coordinates() and correct test_grid_estimation
  tests/test_matching_cost/test_matching_cost.py
Due: black, pylint, mypy

feat: add get method to globalmargins
  pandora/margins/margins.py
Due: black, pylint, mypy, sphinx-checking

test: check get method on globalmargins
  tests/test_margins/test_margins.py
Due: black, pylint, mypy

fix: add step in get_coordinates and find_nearest_multiple_of_step parameters
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

test: correct get_coordinates and find_nearest_multiple_of_step tests
  tests/test_matching_cost/test_matching_cost.py
Due: black, pylint, mypy

doc: Added missing parameters in filtering.rst and references to publications
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  docs/source/userguide/step_by_step/filtering.rst
Due: sphinx-checking

Adding json examples
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  docs/source/userguide/step_by_step/filtering.rst
Due: sphinx-checking

tests: add unit tests for point_interval
  tests/test_matching_cost/test_matching_cost.py
  tests/test_matching_cost/test_matching_cost_zncc.py
Due: black, pylint, mypy

test: move test_point_interval
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

test: add functional tests for matching cost
  tests/conftest.py
  tests/test_matching_cost/test_matching_cost_functional.py
Due: black, pylint, mypy

feat: add condition in mask_column_interval_without_step to deal with disparities outside the image
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

feat: add specific point_interval for zncc method
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

feat: add condition in point_interval to deal with disparities outside the image
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

fix: remove condition about column_interval_left and column_interval_right shapes
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

doc: add sphinx_tab plugin and update plugin_libsgm doc
  docs/source/conf.py
  docs/source/userguide/plugins/plugin_libsgm.rst
  setup.cfg
Due: black, pylint, mypy, sphinx-checking

json: add new config with confidence for tests like release
  data_samples/json_conf_files/a_semi_global_matching_with_confidence.json
Due: none

refact(notebook): improve coherence and readability
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
Due: jupyter-nb-clear-output

typo(notebook): ones -> once
  notebooks/introduction_and_basic_usage.ipynb
Due: jupyter-nb-clear-output

fix(notebook): bad call to pandora_machine.run_prepare
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
Due: jupyter-nb-clear-output

AUTHORS.md update
  AUTHORS.md
Due: none

changelog update
  CHANGELOG.md
Due: none

setup: update libsgm and mccnn plugin version for pre-release pandora
  setup.cfg
Due: none

fix: update format for pylint ci
  pandora/margins/descriptors.py
Due: black, pylint, mypy, sphinx-checking

fix: nan value outside disparity range
  pandora/cost_volume_confidence/__init__.py
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

test: adapt ambiguity test
  tests/test_confidence.py
  tests/test_confidence/conftest.py
  tests/test_confidence/test_ambiguity.py
  tests/test_confidence/test_interval_bounds.py
  tests/test_confidence/test_multiple_confidence.py
  tests/test_confidence/test_risk.py
  tests/test_confidence/test_std_intensity.py
Due: black, pylint, mypy

doc: add note for global ambiguity
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
Due: sphinx-checking

test: global_disparity tests
  tests/test_confidence/test_ambiguity.py
  tests/test_pandora_image.py
Due: black, pylint, mypy

feat: add global disparity in dataset
  pandora/cost_volume_confidence/ambiguity.py
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

Update CHANGELOG.md and setup.cfg for new alpha version
  CHANGELOG.md
  setup.cfg
Due: none

changelog update for release
  CHANGELOG.md
Due: none

setup : change numpy version and update libsgm/mccnn plugin version for release
  setup.cfg
Due: none

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
