Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking, meson

black:
  name: black
  entry: black
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

test: added filters to the tested conf, to ensure there's no crash
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

docs: better details on what is saved
  docs/source/userguide/step_by_step/validation.rst
Due: sphinx-checking

docs: update CHANGELOG for 1.7.1
  CHANGELOG.md
Due: none

test: check empty map
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

test: remove all assert
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

test: remove run pipeline, just check configuration
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

test: run light pipeline
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

test: run pipeline with first filter
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

test: add second filter
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

test: add validation whitout filter
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

tests: skip temporarily the test that causes a memory access violation on Windows
  tests/functional_tests/test_validation.py
Due: black, pylint, mypy

fix: census subpix computation was wrong
  src/pandora/matching_cost/cpp/src/census.cpp
Due: none

fix: removed a bug for the last right pixel in subpix calculations
  src/pandora/matching_cost/cpp/src/census.cpp
Due: none

test: added a test for subpix calculations in census matching cost
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

lint: sonarqube
  src/pandora/matching_cost/cpp/src/census.cpp
Due: none

test: moved from unittest to pytest
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

test: parameterized test_census
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

test: added identifiers to tests
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

CHANGELOG.md update
  CHANGELOG.md
Due: none

pyproject.toml update with plugin versions
  pyproject.toml
Due: none

setup: update plugin version
  pyproject.toml
Due: none

fix: remove uneeded jobs specification
  pyproject.toml
Due: none

feat/add-gitlab-ci
  .coveragerc
  .gitlab-ci.yml
  .pylintrc
  Makefile
  mypy.ini
  pyproject.toml
  sonar-project.properties
  src/pandora/aggregation/cbca.py
  src/pandora/filter/bilateral.py
  src/pandora/filter/median.py
  src/pandora/filter/median_for_intervals.py
  src/pandora/img_tools.py
  tests/test_confidence/conftest.py
Due: black, pylint, mypy

temporary commit
  .gitlab-ci.yml
Due: none

ci github: update cibuildwheel version to fix bug with new rasterio version
  .github/workflows/pandora_ci.yml
Due: none

feat: allow edges as valid optional input data
  src/pandora/__init__.py
  src/pandora/aggregation/aggregation.py
  src/pandora/aggregation/cbca.py
  src/pandora/check_configuration.py
  src/pandora/criteria.py
  src/pandora/disparity/disparity.py
  src/pandora/img_tools.py
  src/pandora/matching_cost/census.py
  src/pandora/matching_cost/matching_cost.py
  src/pandora/matching_cost/sad_ssd.py
  src/pandora/matching_cost/zncc.py
  src/pandora/semantic_segmentation/semantic_segmentation.py
  src/pandora/validation/interpolated_disparity.py
  src/pandora/validation/validation.py
Due: black, pylint, mypy

test: fixed tests (added edges in conf tests)
  tests/test_config.py
Due: black, pylint, mypy

docs: added documentation for edges
  docs/source/userguide/input.rst
  docs/source/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

doc: fix docutils version
  docs/requirements.txt
Due: sphinx-checking

python: move minimal python version from 3.8/3.9 to 3.10
  .gitlab-ci.yml
  .gitlab/issue_templates/Patch_anterieur_dernier_tag.md
  .gitlab/issue_templates/Release.md
  .gitlab/issue_templates/Release_ENG.md
  Makefile
  pyproject.toml
  sonar-project.properties
Due: none

mypy: fix errors
  src/pandora/matching_cost/matching_cost.py
  tests/test_confidence/conftest.py
Due: black, pylint, mypy

doc: update name / mail
  AUTHORS.md
  docs/source/developer_guide/before_coding.rst
Due: sphinx-checking

fix: fix in reverse cost volume
  src/pandora/state_machine.py
Due: black, pylint, mypy

setup: update plugin versions
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
