Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]

fix: force embed img math generation in conf.py with bug in RTD
  docs/source/conf.py
Due: black, pylint, mypy, sphinx-checking

feat: from intensityStd to intensity_std
  pandora/cost_volume_confidence/std_intensity.py
Due: black, pylint, mypy, sphinx-checking

doc: from intensityStd to intensity_std
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
Due: sphinx-checking

test: from intensityStd to intensity_std
  tests/test_confidence.py
Due: black, pylint, mypy

minor: snake case for validation_pandora_distanceOfDisp
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

fix: warning transitions
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  pandora/check_json.py
  pandora/state_machine.py
Due: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

doc: add state machine in doc
  docs/source/Images/state_machine.png
  docs/source/developer_guide.rst
  docs/source/userguide/sequencing.rst
Due: sphinx-checking

test: memory_consumption_estimation with a flag
  tests/test_config.py
Due: black, pylint, mypy

docs: remove explanations of differences between mc-cnn fast and accurate, remove mccnn_arch parameter in docs
  docs/source/userguide/plugins/plugin_mccnn.rst
Due: sphinx-checking

fix: remove parameter mccnn_arch from mccnn example config file
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
Due: none

fix: remove mc_cnn_accurate_penalty in available metods for penalty estimation
  docs/source/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

fix: correction on legend of figures
  docs/source/userguide/plugins/plugin_mccnn.rst
Due: sphinx-checking

docs: remove explanations about mc_cnn_accurate_penalty
  docs/source/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

docs: remove mc-cnn accurate figure in docs
  docs/source/Images/mc_cnn_fast_architecture.png
  docs/source/userguide/plugins/plugin_mccnn.rst
Due: sphinx-checking

docs: remove table of mc-cnn accurate parameters
  docs/source/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

docs: add precisions
  docs/source/userguide/plugins/plugin_mccnn.rst
Due: sphinx-checking

fix: resolve bug on source docs
  docs/source/userguide/plugins/plugin_libsgm.rst
Due: sphinx-checking

feat: make model_path facultative and precise the default value
  docs/source/userguide/plugins/plugin_mccnn.rst
Due: sphinx-checking

minor: link readme
  README.md
Due: none

minor: penalty parameters in data_samples
  data_samples/json_conf_files/a_semi_global_matching.json
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
Due: none

doc: add 3sgm
  docs/source/userguide/plugins/plugin_libsgm.rst
  docs/source/userguide/step_by_step/optimization.rst
Due: sphinx-checking

fix: remove parameter model_path for mc_cnn because weights are not in the plugin anymore
  data_samples/json_conf_files/a_semi_global_matching_with_mccnn_similarity_measure.json
Due: none

test: add marge test with 3sgm
  tests/test_marge.py
Due: black, pylint, mypy

feat: 3sgm in margin
  pandora/marge.py
Due: black, pylint, mypy, sphinx-checking

refactor: adapt setup.cfg dependances for setuptools latest version
  setup.cfg
Due: none

feat: prepare release 1.3.0
  CHANGELOG.md
  README.md
  setup.cfg
Due: none

feat: add Authors.md file
  AUTHORS.md
Due: none

fix: black errors and setuptools version in Makefile error message
  Makefile
  notebooks/snippets/utils.py
  pandora/aggregation/cbca.py
  pandora/refinement/refinement.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  tests/test_pandora.py
Due: black, pylint, mypy, sphinx-checking

fix: pylint errors with pylint upgrade, clean accordingly
  .pylintrc
  pandora/disparity/disparity.py
  pandora/filter/bilateral.py
Due: black, pylint, mypy, sphinx-checking

fix: go back to disable pylint according to other pandora abstractions
  pandora/disparity/disparity.py
Due: black, pylint, mypy, sphinx-checking

fix: typo in Makefile
  Makefile
Due: none

feat: deactivate show on statistical_and_visual_analysis notebook test
  notebooks/snippets/utils.py
  tests/test_notebooks.py
Due: black, pylint, mypy

feat: update notebok_requirements.txt
  notebooks/notebook_requirements.txt
Due: none

feat: update notebook_requirements.txt
  notebooks/notebook_requirements.txt
Due: none

feat: add indications on cells not working on Binder
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

feat: verify the cross-checking and 3sgm conditions
  CHANGELOG.md
  pandora/check_json.py
Due: black, pylint, mypy, sphinx-checking

Update statistical_and_visual_analysis.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
Due: jupyter-nb-clear-output

feat: make ambiguity normalization optional
  docs/source/userguide/step_by_step/cost_volume_confidence.rst
  pandora/cost_volume_confidence/ambiguity.py
  tests/test_confidence.py
Due: black, pylint, mypy, sphinx-checking

refacto: force confidence_from prefix and rename validation confidence
  docs/source/userguide/as_an_api.rst
  docs/source/userguide/output.rst
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/cost_volume_confidence/risk.py
  pandora/cost_volume_confidence/std_intensity.py
  pandora/validation/validation.py
  tests/test_validation.py
Due: black, pylint, mypy, sphinx-checking

feat: add band_names in right_confidence_measure.tif
  pandora/common.py
Due: black, pylint, mypy, sphinx-checking
