Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]

fix: remove step from disp range
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

test: suppr step from test
  tests/test_matching_cost.py
Due: black, pylint, mypy

feat : add roi parameter to create_dataset_from_inputs function
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

test: adding test for roi in create_dataset_from_inputs
  tests/test_pandora_image.py
Due: black, pylint, mypy

feat: split create_dataset_from_inputs in multiple function
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: move get_meatadata
  pandora/check_configuration.py
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: adding disparities in dataset
  pandora/img_tools.py
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

fix: add window for roi
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

test: update test with disparities and get_metadata
  tests/common.py
  tests/test_config.py
  tests/test_disparity.py
  tests/test_pandora.py
  tests/test_pandora_image.py
  tests/test_plugins.py
Due: black, pylint, mypy

notebook : update with get_metadata changes
  notebooks/advanced_examples/api_check_conf.ipynb
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/snippets/utils.py
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: black, pylint, mypy, jupyter-nb-clear-output

doc: update for CI doc
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: bug with mask in create_dataset_from_inputs and add unit test for regression
  pandora/img_tools.py
  tests/test_pandora_image.py
Due: black, pylint, mypy, sphinx-checking

fix: update with MR
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: bug if disparities not exist in input configuration
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

pylint: disable=too-many-lines
  tests/test_matching_cost_sad.py
  tests/test_pandora_image.py
Due: black, pylint, mypy

feat: update with disparity in data_vars of img_left and img_right
  pandora/__init__.py
  pandora/aggregation/aggregation.py
  pandora/aggregation/cbca.py
  pandora/disparity/disparity.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/multiscale/fixed_zoom_pyramid.py
  pandora/multiscale/multiscale.py
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
  tests/test_aggregation.py
  tests/test_confidence.py
  tests/test_disparity_mask.py
  tests/test_matching_cost_census.py
  tests/test_matching_cost_sad.py
  tests/test_matching_cost_ssd.py
  tests/test_matching_cost_zncc.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

feat: add_disparity as a dataArray in create_dataset_from_inputs
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

notebook: update with disparities in image and new API for run() and run_prepapre() pandora machine function
  notebooks/advanced_examples/cost_profile_analysis.ipynb
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

test: add test for add_disparity
  tests/test_pandora_image.py
Due: black, pylint, mypy

doc: update type for disparity
  docs/source/userguide/as_an_api.rst
  pandora/__init__.py
  pandora/aggregation/aggregation.py
  pandora/aggregation/cbca.py
  pandora/disparity/disparity.py
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
  pandora/semantic_segmentation/semantic_segmentation.py
  pandora/state_machine.py
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

feat: remove parameters in init pandoraMachine
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

fix: update get_metadata with classif and segm data_vars in output
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: update check_dataset
  pandora/check_configuration.py
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

feat: update check_images
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: update test in pandora image
  tests/test_pandora_image.py
Due: black, pylint, mypy

test: add test for check_configuration
  tests/test_check_configuration.py
Due: black, pylint, mypy

feat: update check_attributes
  pandora/check_configuration.py
  tests/test_check_configuration.py
Due: black, pylint, mypy, sphinx-checking

doc: update faq
  docs/source/userguide/faq.rst
Due: sphinx-checking

feat: update check_disparities and check_dataset
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: update test for check_disparities
  tests/test_check_configuration.py
Due: black, pylint, mypy

feat: add check_datasets function and split check_disparities in two functions
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: add tests for check_datasets function
  tests/test_check_configuration.py
Due: black, pylint, mypy

test: update tests for check_disparities
  tests/test_check_configuration.py
Due: black, pylint, mypy

feat: update check_datasets with no_disparity for right dataset
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

test: update check_datasets tests
  tests/test_check_configuration.py
Due: black, pylint, mypy

notebook: add some corrections
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistical_and_visual_analysis.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

changelog: update
  CHANGELOG.md
Due: none

setup: update libsgm and mccnn version
  setup.cfg
Due: none

setup: update libsgm and mccnn plugin version for pre-release pandora
  setup.cfg
Due: none

feat: update with check_datasets changes
  pandora/__init__.py
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking
