Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking, meson

black:
  name: black
  entry: black
  language: system
  stages:
  - pre-commit

pylint:
  name: PyLint
  entry: pylint --rcfile=.pylintrc
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - pre-push

meson:
  name: meson
  language: python
  entry: meson format -e -i
  additional_dependencies:
  - meson==1.6.1

refactor: rename inv_cost to inverse_cost
  src/pandora/refinement/cpp/refinement_cpp.pyi
  src/pandora/refinement/cpp/src/quadratic.cpp
  src/pandora/refinement/cpp/src/refinement_tools.cpp
  src/pandora/refinement/cpp/src/vfit.cpp
Due: none

refactor: remove py::array wrappers and rename cost variables
  src/pandora/refinement/cpp/includes/quadratic.hpp
  src/pandora/refinement/cpp/includes/refinement.hpp
  src/pandora/refinement/cpp/includes/refinement_tools.hpp
  src/pandora/refinement/cpp/includes/vfit.hpp
  src/pandora/refinement/cpp/refinement_cpp.pyi
  src/pandora/refinement/cpp/src/bindings.cpp
  src/pandora/refinement/cpp/src/quadratic.cpp
  src/pandora/refinement/cpp/src/refinement.cpp
  src/pandora/refinement/cpp/src/refinement_tools.cpp
  src/pandora/refinement/cpp/src/vfit.cpp
  src/pandora/refinement/refinement.py
Due: black, pylint, mypy

perf: dispatch refinement methods in c++ loop
  src/pandora/refinement/cpp/includes/quadratic.hpp
  src/pandora/refinement/cpp/includes/refinement.hpp
  src/pandora/refinement/cpp/includes/refinement_tools.hpp
  src/pandora/refinement/cpp/includes/vfit.hpp
  src/pandora/refinement/cpp/refinement_cpp.pyi
  src/pandora/refinement/cpp/src/quadratic.cpp
  src/pandora/refinement/cpp/src/refinement.cpp
  src/pandora/refinement/cpp/src/refinement_tools.cpp
  src/pandora/refinement/cpp/src/vfit.cpp
  src/pandora/refinement/refinement.py
Due: black, pylint, mypy

doc: update of the docstrings
  src/pandora/refinement/cpp/includes/quadratic.hpp
  src/pandora/refinement/cpp/includes/refinement.hpp
  src/pandora/refinement/cpp/includes/refinement_tools.hpp
  src/pandora/refinement/cpp/includes/vfit.hpp
  src/pandora/refinement/cpp/src/vfit.cpp
Due: none

feat: move allocate_right_mask disparity loop to c++
  src/pandora/cpp/criteria_cpp.pyi
  src/pandora/cpp/includes/criteria.hpp
  src/pandora/cpp/src/bindings_criteria.cpp
  src/pandora/cpp/src/criteria.cpp
  src/pandora/criteria.py
Due: black, pylint, mypy

update CHANGELOG.md
  CHANGELOG.md
Due: none

update documentation conf.py
  docs/source/conf.py
Due: black, pylint, mypy, sphinx-checking

update pyproject.toml
  pyproject.toml
Due: none

update sonar-project.properties
  sonar-project.properties
Due: none

update documentation conf.py file
  docs/source/conf.py
Due: black, pylint, mypy, sphinx-checking

update plugin mccnn version in pyproject.toml
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$ and \.py$
  pylint: any of: \.py$ and \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|pandora/.*)$
  meson: any of: ^(.*/)?(meson\.build|meson\.format|meson\.options)$
