Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]

typo: correct typos in criteria documentation
  docs/source/exploring_the_field/criteria.rst
Due: sphinx-checking

fix(notebook): Machine_state_diagram.png is not displayed
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/usage_with_multiscale.ipynb
Due: jupyter-nb-clear-output

feat: replace after by before in the transitions of the state machine
  pandora/state_machine.py
Due: black, pylint, mypy, sphinx-checking

feat: cache all njit calls
  pandora/img_tools.py
  pandora/interval_tools.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
  pandora/validation/interpolated_disparity.py
Due: black, pylint, mypy, sphinx-checking

test: check disparity range for list and grid
  tests/test_check_configuration.py
Due: black, pylint, mypy

feat: check disparity range inside image
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

fix: update check_disparities_from_input for pandora2d test disparities
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

feat : update schema for subpix parameter
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

doc: move _indicator parameters to remove sphinx warning
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
  pandora/cost_volume_confidence/std_intensity.py
Due: black, pylint, mypy, sphinx-checking

doc: add dynamic tab for filter config and parameters
  docs/source/userguide/step_by_step/filtering.rst
Due: sphinx-checking

doc : update filtering.rst format
  docs/source/userguide/step_by_step/filtering.rst
Due: sphinx-checking

[config] update numpy version
  setup.cfg
Due: none

fix : update np.arange to remove warning
  pandora/img_tools.py
  pandora/matching_cost/matching_cost.py
  tests/test_matching_cost/test_matching_cost.py
Due: black, pylint, mypy, sphinx-checking

feat: risk normalization using global disparity
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cost_volume_confidence.py
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

test: Add a test for the normalization of the risk using global disparity
  tests/test_confidence/test_ambiguity.py
  tests/test_confidence/test_risk.py
Due: black, pylint, mypy

feat: Add a condition on the type_measure in ambiguity.py
  pandora/cost_volume_confidence/ambiguity.py
Due: black, pylint, mypy, sphinx-checking

test: Add tests for perfect case with min/max matching cost functions
  tests/test_confidence/test_ambiguity.py
Due: black, pylint, mypy

feat: update shift_right_img to modify order spline parameter
  pandora/img_tools.py
  pandora/matching_cost/census.py
  pandora/matching_cost/matching_cost.py
  pandora/matching_cost/sad_ssd.py
  pandora/matching_cost/zncc.py
Due: black, pylint, mypy, sphinx-checking

test: Add test for spline_order parameter in matching_cost
  tests/test_matching_cost/test_matching_cost.py
Due: black, pylint, mypy

feat: add possibility to not use numba cache
  pandora/aggregation/cbca.py
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
  pandora/img_tools.py
  pandora/interval_tools.py
  pandora/refinement/quadratic.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
  pandora/validation/interpolated_disparity.py
Due: black, pylint, mypy, sphinx-checking

doc: add cache paragraph in doc
  docs/source/userguide/faq.rst
Due: sphinx-checking

Update CHANGELOG.md and AUTHORS.md for new alpha version
  AUTHORS.md
  CHANGELOG.md
Due: none

setup: update libsgm and mccnn plugin version for pre-release pandora
  setup.cfg
Due: none

setup: update bokeh and matplotlib version
  setup.cfg
Due: none

fix: remove print
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

Update CHANGELOG.md file for new release
  CHANGELOG.md
Due: none

Udpate libsgm and mccnn plugin version for new release
  setup.cfg
Due: none

fix: update the get_coordinates method to static method
  pandora/matching_cost/matching_cost.py
Due: black, pylint, mypy, sphinx-checking

feat: switched to a basic meson build
  .gitignore
  Makefile
  meson.build
  pandora/matching_cost/lib_c.cpp
  pyproject.toml
  setup.cfg
  version.sh
Due: sphinx-checking

feat: added a cpp implementation of aggregation functions; removed numba dependecy
  Makefile
  meson.build
  pandora/aggregation/cbca.py
  pandora/aggregation/cpp/aggregation.cpp
  pandora/aggregation/cpp/bindings.cpp
  pandora/aggregation/cpp/includes/aggregation.hpp
  pandora/aggregation/cpp/meson.build
  pyproject.toml
Due: black, pylint, mypy, sphinx-checking

feat: added cpp implementations of cost volume confidence functions; removed numba implementations and dependencies
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cpp/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/bindings.cpp
  pandora/cost_volume_confidence/cpp/includes/ambiguity.hpp
  pandora/cost_volume_confidence/cpp/includes/interval_bounds.hpp
  pandora/cost_volume_confidence/cpp/includes/risk.hpp
  pandora/cost_volume_confidence/cpp/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/meson.build
  pandora/cost_volume_confidence/cpp/risk.cpp
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

feat: added cpp implementations of refinement functions; removed numba implementations and dependencies
  meson.build
  pandora/refinement/cpp/bindings.cpp
  pandora/refinement/cpp/includes/quadratic.hpp
  pandora/refinement/cpp/includes/refinement.hpp
  pandora/refinement/cpp/includes/vfit.hpp
  pandora/refinement/cpp/meson.build
  pandora/refinement/cpp/quadratic.cpp
  pandora/refinement/cpp/refinement.cpp
  pandora/refinement/cpp/vfit.cpp
  pandora/refinement/quadratic.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
Due: black, pylint, mypy, sphinx-checking

fix: mask now has the proper type in cpp
  pandora/refinement/cpp/includes/refinement.hpp
  pandora/refinement/cpp/refinement.cpp
Due: sphinx-checking

fix: expose cross_support function in the same way as the numba implementation
  pandora/aggregation/cbca.py
Due: black, pylint, mypy, sphinx-checking

fix: account for negative type_factor
  pandora/cost_volume_confidence/cpp/interval_bounds.cpp
  pandora/cost_volume_confidence/interval_bounds.py
Due: black, pylint, mypy, sphinx-checking

refacto: factorized compute_risk and compute_risk_and_sampled_risk in a single cpp function
  pandora/cost_volume_confidence/cpp/bindings.cpp
  pandora/cost_volume_confidence/cpp/includes/risk.hpp
  pandora/cost_volume_confidence/cpp/risk.cpp
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

fix: updated ref for the sampled_risk test (the old implementation had a bug)
  tests/test_confidence/test_risk.py
Due: black, pylint, mypy

fix: added epsilons on the tests involving refinement
  tests/test_refinement.py
Due: black, pylint, mypy

fix: give the right costs to the refinement method in fast mode
  pandora/refinement/cpp/refinement.cpp
Due: sphinx-checking

fix: multiscale now available
  pandora/__init__.py
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking
