Repository CNES/Pandora: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
      stages: [commit]
      types: [python]

    - id: pylint
      name: PyLint
      entry: pylint --rcfile=.pylintrc
      language: system
      files: \.py$
      types: [python]
      stages: [commit]

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: \.py$
      stages: [ commit ]

    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - id: sphinx-checking
      name: Checking Sphinx building
      entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
      language: system
      files: ^(docs/.*|pandora/.*)$
      pass_filenames: False
      stages: [push]

fix: imports and syntax
  pandora/refinement/quadratic.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
Due: black, pylint, mypy, sphinx-checking

feat: removed numba from img/interval_tools and replaced functions with a cpp implementation
  pandora/cpp/bindings_img_tools.cpp
  pandora/cpp/bindings_interval_tools.cpp
  pandora/cpp/img_tools.cpp
  pandora/cpp/includes/img_tools.hpp
  pandora/cpp/includes/interval_tools.hpp
  pandora/cpp/interval_tools.cpp
  pandora/cpp/meson.build
  pandora/img_tools.py
  pandora/interval_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: imports / syntax
  pandora/aggregation/cbca.py
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

feat: removed numba from validation, replaced with cpp implementation
  pandora/validation/cpp/bindings.cpp
  pandora/validation/cpp/includes/interpolated_disparity.hpp
  pandora/validation/cpp/interpolated_disparity.cpp
  pandora/validation/cpp/meson.build
  pandora/validation/interpolated_disparity.py
  pandora/validation/validation.py
Due: black, pylint, mypy, sphinx-checking

feat: added subdirs for img/interval_tools and validation
  meson.build
Due: none

fix: added epsilons to tests
  tests/test_filter.py
  tests/test_interval_tools.py
Due: black, pylint, mypy

fix: remove useless file
  pandora/matching_cost/lib_c.cpp
Due: sphinx-checking

fix: remove a print in multiscale
  pandora/check_configuration.py
Due: black, pylint, mypy, sphinx-checking

fix: the pyramid now also contains the disp min/max for multiscale+cost volume confidence
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

fix: correctly pass color bands in multiscale pyramid construction
  pandora/img_tools.py
Due: black, pylint, mypy, sphinx-checking

lint: applied black to files
  pandora/aggregation/cbca.py
  pandora/img_tools.py
  pandora/interval_tools.py
  tests/test_filter.py
  tests/test_multiscale.py
  tests/test_refinement.py
Due: black, pylint, mypy, sphinx-checking

lint: fixed import order, added typing
  pandora/aggregation/cbca.py
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
  pandora/cpp/img_tools_cpp.pyi
  pandora/cpp/interval_tools_cpp.pyi
  pandora/img_tools.py
  pandora/interval_tools.py
  pandora/refinement/cpp/refinement_cpp.pyi
  pandora/refinement/quadratic.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
  pandora/validation/interpolated_disparity.py
Due: black, pylint, mypy, sphinx-checking

fix: proprely define and call the refinement method in cpp
  pandora/refinement/cpp/includes/refinement.hpp
  pandora/refinement/cpp/src/refinement.cpp
Due: sphinx-checking

docs: added docstrings to cpp functions
  pandora/aggregation/cpp/aggregation_cpp.pyi
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cpp/img_tools_cpp.pyi
  pandora/cpp/interval_tools_cpp.pyi
  pandora/refinement/cpp/refinement_cpp.pyi
  pandora/validation/cpp/validation_cpp.pyi
Due: sphinx-checking

misc: removed useless documentation in cpp bindings
  pandora/aggregation/cpp/src/bindings.cpp
  pandora/cost_volume_confidence/cpp/src/bindings.cpp
  pandora/cpp/src/bindings_img_tools.cpp
  pandora/cpp/src/bindings_interval_tools.cpp
  pandora/refinement/cpp/src/bindings.cpp
  pandora/validation/cpp/src/bindings.cpp
Due: sphinx-checking

misc: removed numba from deps, removed mentions of numba in comments
  .github/workflows/pandora_ci.yml
  NOTICE
  docs/source/getting_started.rst
  docs/source/userguide/faq.rst
  mypy.ini
  notebooks/notebook_requirements.txt
  pandora/aggregation/cbca.py
  pandora/aggregation/cpp/aggregation_cpp.pyi
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
  pandora/cpp/img_tools_cpp.pyi
  pandora/img_tools.py
  pandora/refinement/cpp/refinement_cpp.pyi
  pandora/refinement/refinement.py
  pandora/state_machine.py
  pandora/validation/cpp/validation_cpp.pyi
  pyproject.toml
Due: black, pylint, mypy, sphinx-checking

fix: removed eigen as a dependency
  meson.build
  pandora/aggregation/cpp/meson.build
  pandora/cost_volume_confidence/cpp/meson.build
  pandora/cpp/meson.build
  pandora/refinement/cpp/meson.build
  pandora/validation/cpp/meson.build
Due: sphinx-checking

docs: added a note adressing the need for --no-build-isolation when installing pandora in editable mode
  docs/source/getting_started.rst
Due: sphinx-checking

squash: mr review commits
  .gitignore
  pandora/aggregation/cbca.py
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cpp/includes/cost_volume_confidence_tools.hpp
  pandora/cost_volume_confidence/cpp/meson.build
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/cost_volume_confidence_tools.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cost_volume_confidence/risk.py
  pandora/cpp/img_tools_cpp.pyi
  pandora/cpp/src/img_tools.cpp
  pandora/img_tools.py
  pandora/interval_tools.py
  pandora/refinement/cpp/refinement_cpp.pyi
  pandora/refinement/cpp/src/refinement.cpp
  pandora/refinement/quadratic.py
  pandora/refinement/refinement.py
  pandora/refinement/vfit.py
  pandora/state_machine.py
  pandora/validation/cpp/src/interpolated_disparity.cpp
  pandora/validation/interpolated_disparity.py
  tests/test_filter.py
Due: black, pylint, mypy, sphinx-checking

fix: return tuple when a stub describes a function returning a tuple, to fix pylint error message unpack non sequence
  pandora/aggregation/cpp/aggregation_cpp.pyi
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cost_volume_confidence/interval_bounds.py
  pandora/cpp/img_tools_cpp.pyi
  pandora/cpp/interval_tools_cpp.pyi
  pandora/validation/cpp/validation_cpp.pyi
Due: black, pylint, mypy, sphinx-checking

lint: added documentation for c++ functions, added copyrights, fixed lines too long
  pandora/aggregation/cpp/includes/aggregation.hpp
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/cost_volume_confidence/cpp/includes/ambiguity.hpp
  pandora/cost_volume_confidence/cpp/includes/cost_volume_confidence_tools.hpp
  pandora/cost_volume_confidence/cpp/includes/interval_bounds.hpp
  pandora/cost_volume_confidence/cpp/includes/risk.hpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cpp/includes/img_tools.hpp
  pandora/cpp/includes/interval_tools.hpp
  pandora/cpp/src/img_tools.cpp
  pandora/cpp/src/interval_tools.cpp
  pandora/refinement/cpp/includes/quadratic.hpp
  pandora/refinement/cpp/includes/refinement.hpp
  pandora/refinement/cpp/includes/vfit.hpp
  pandora/refinement/cpp/src/quadratic.cpp
  pandora/refinement/cpp/src/refinement.cpp
  pandora/validation/cpp/includes/interpolated_disparity.hpp
  pandora/validation/cpp/src/interpolated_disparity.cpp
Due: sphinx-checking

lint: lines too long, too many statements per line
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cpp/includes/img_tools.hpp
  pandora/img_tools.py
  pandora/refinement/cpp/includes/quadratic.hpp
  pandora/refinement/cpp/includes/refinement.hpp
  pandora/refinement/cpp/includes/vfit.hpp
  pandora/refinement/cpp/src/vfit.cpp
Due: black, pylint, mypy, sphinx-checking

lint: too many statements per line
  pandora/cpp/src/interval_tools.cpp
Due: sphinx-checking

refacto: added a refinement tools file to resolve duplicated lines
  pandora/refinement/cpp/includes/refinement_tools.hpp
  pandora/refinement/cpp/meson.build
  pandora/refinement/cpp/src/quadratic.cpp
  pandora/refinement/cpp/src/refinement_tools.cpp
  pandora/refinement/cpp/src/vfit.cpp
Due: sphinx-checking

refacto: merged compute_ambiguity and compute_ambiguity_and_sampled_ambiguity to reduce duplicated lines
  pandora/cost_volume_confidence/ambiguity.py
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cost_volume_confidence/cpp/includes/ambiguity.hpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/bindings.cpp
  pandora/cost_volume_confidence/risk.py
Due: black, pylint, mypy, sphinx-checking

refacto: reorganized code to remove duplicated code blocks
  pandora/refinement/cpp/src/refinement.cpp
  pandora/validation/cpp/src/interpolated_disparity.cpp
Due: sphinx-checking

refacto: reduced cyclomatic complexity and line count
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
Due: sphinx-checking

fix: replaced all c-type casts
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/validation/cpp/src/interpolated_disparity.cpp
Due: sphinx-checking

misc: added comments from the original numba implementation to the cpp implementation
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cpp/src/img_tools.cpp
  pandora/cpp/src/interval_tools.cpp
  pandora/refinement/cpp/src/quadratic.cpp
  pandora/refinement/cpp/src/refinement.cpp
  pandora/refinement/cpp/src/refinement_tools.cpp
  pandora/refinement/cpp/src/vfit.cpp
  pandora/validation/cpp/src/interpolated_disparity.cpp
Due: sphinx-checking

fix: cast array shape in risk, merge all cbca functions in a single cpp function
  pandora/aggregation/cbca.py
  pandora/aggregation/cpp/aggregation_cpp.pyi
  pandora/aggregation/cpp/includes/aggregation.hpp
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/aggregation/cpp/src/bindings.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
Due: black, pylint, mypy, sphinx-checking

misc: added copyrights, fixed docstrings missing some variables, removed unused cpp imports, reversed col and row in interpolated disparity
  pandora/aggregation/cpp/__init__.py
  pandora/aggregation/cpp/aggregation_cpp.pyi
  pandora/aggregation/cpp/src/aggregation.cpp
  pandora/aggregation/cpp/src/bindings.cpp
  pandora/cost_volume_confidence/cpp/cost_volume_confidence_cpp.pyi
  pandora/cost_volume_confidence/cpp/includes/ambiguity.hpp
  pandora/cost_volume_confidence/cpp/src/ambiguity.cpp
  pandora/cost_volume_confidence/cpp/src/bindings.cpp
  pandora/cost_volume_confidence/cpp/src/cost_volume_confidence_tools.cpp
  pandora/cost_volume_confidence/cpp/src/interval_bounds.cpp
  pandora/cost_volume_confidence/cpp/src/risk.cpp
  pandora/cpp/img_tools_cpp.pyi
  pandora/cpp/interval_tools_cpp.pyi
  pandora/cpp/src/bindings_img_tools.cpp
  pandora/cpp/src/bindings_interval_tools.cpp
  pandora/cpp/src/img_tools.cpp
  pandora/cpp/src/interval_tools.cpp
  pandora/refinement/cpp/includes/refinement_tools.hpp
  pandora/refinement/cpp/refinement_cpp.pyi
  pandora/refinement/cpp/src/bindings.cpp
  pandora/refinement/cpp/src/quadratic.cpp
  pandora/refinement/cpp/src/refinement.cpp
  pandora/refinement/cpp/src/refinement_tools.cpp
  pandora/refinement/cpp/src/vfit.cpp
  pandora/validation/cpp/src/bindings.cpp
  pandora/validation/cpp/src/interpolated_disparity.cpp
  pandora/validation/cpp/validation_cpp.pyi
Due: black, pylint, mypy, sphinx-checking

docs: added a link to the meson documentation and specified the dependencies to install pandora in editable mode
  docs/source/getting_started.rst
Due: sphinx-checking

feat: added census in cpp with infinite window size and subpixel
  meson.build
  pandora/matching_cost/census.py
  pandora/matching_cost/cpp/includes/census.hpp
  pandora/matching_cost/cpp/meson.build
  pandora/matching_cost/cpp/src/bindings.cpp
  pandora/matching_cost/cpp/src/census.cpp
Due: black, pylint, mypy, sphinx-checking

feat: added tests on census with higher window sizes
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy

fix: proprely manage subpix in census cpp, proprely create cv to be filled, linting
  pandora/matching_cost/census.py
  pandora/matching_cost/cpp/matching_cost_cpp.pyi
  pandora/matching_cost/cpp/src/census.cpp
Due: black, pylint, mypy, sphinx-checking

fix: removed limits on the census window size, added python header and init files to the matching cost cpp module, linting
  pandora/matching_cost/census.py
  pandora/matching_cost/cpp/__init__.py
  pandora/matching_cost/cpp/matching_cost_cpp.pyi
  pandora/matching_cost/cpp/meson.build
Due: black, pylint, mypy, sphinx-checking

refacto: removed duplicated lines by computing census type info separately
  pandora/matching_cost/cpp/src/census.cpp
Due: sphinx-checking

fix: limited the max census window size available to 13
  pandora/matching_cost/census.py
Due: black, pylint, mypy, sphinx-checking

misc: removed the popcount test
  tests/test_matching_cost/test_matching_cost_census.py
Due: black, pylint, mypy
